﻿@{
    Layout = "_LayoutSale";
    var cus = ViewBag.cus;
    var adds = ViewBag.adds;
    var checkout = ViewBag.checks;
}
<div>
    @*  @if (cus.Status.Equals("off"))
    {

    <form asp-controller="DetailCustomerContact" asp-action="changeStatusAccount" asp-route-id="@cus.AccId">
    <button type="submit" class=" btn btn-success rounded-pill" onclick="return myFunction()">
    Mở Khóa
    </button>
    </form>
    }
    else
    {
    <form asp-controller="DetailCustomerContact" asp-action="changeStatusAccount" asp-route-id="@cus.AccId">

    <button type="submit" class="  btn btn-danger rounded-pill" onclick="return myFunction()">
    Khóa tài khoản
    </button>
    </form>

    } *@
</div>
<div style="">
    <h5>Thông tin khách hàng</h5>
    <table class="table table-bordered" style="width:100%;text-align:center;box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); background-color:#ffffff;border-radius:10px">
        <thead>
            <tr>
                <th>ID</th>
                <th>Họ tên</th>
                <th>Ngày sinh</th>
                <th>Email</th>
                <th>Số điện thoại</th>
                <th>Giới tính</th>
                <th>Ngày tham gia</th>
                <th>Trạng thái</th>
            </tr>
        </thead>
        <tr>
            <td>@cus.Id</td>
            <td>@cus.FullName</td>
            <td>@cus.Dob</td>
            @{
                string mail = "mailto:" + @cus.Email;
            }
            <td><a href="@mail">@cus.Email</a></td>
            <td>@cus.Phone</td>
            @if (cus.Gender.Equals("true", StringComparison.OrdinalIgnoreCase))
            {
                <th><div class="badge bg-info text-white rounded-pill">Nam</div></th>
            }
            else
            {
                <th><div class="badge bg-primary text-white rounded-pill">Nữ</div></th>
            }
            <td>@cus.UpdateDate</td>

            @if (cus.Status.Equals("off"))
            {
                <td>
                    <div class="badge text-while bg-danger rounded-pill">
                        Khóa
                    </div>
                </td>
            }
            else
            {
                <td>
                    <div class="badge text-white bg-success rounded-pill">
                        Bình thường
                    </div>
                </td>
            }


        </tr>
    </table>
</div>
<div style="">
    <h5>Địa chỉ khách hàng</h5>
    <table class="table table-bordered" style="width:100%;text-align:left;box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); background-color:#ffffff;border-radius:10px">


        @foreach (var i in adds)
        {
            <tr>
                <td>
                    @if (i.Status)
                    {
                        <p><div class="badge bg-primary text-white rounded-pill">(Măc định)</div> @i.User_Address</p>
                    }
                    else
                    {
                        @i.User_Address
                    }
                </td>

            </tr>
        }

    </table>
</div>

<div style="">
    <h5>Những đơn hàng đã thanh toán</h5>
    <table class="table table-bordered" style="width:100%;text-align:left;box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); background-color:#ffffff;border-radius:10px">

        <thead>
            <tr>
                <th>Tên sản phẩm</th>
                <th>Số lượng</th>
                <th>Bộ nhớ</th>
                <th>Giá cả</th>
            </tr>
        </thead>
        @foreach (var check in checkout)
        {
            <tr>
                <td>@check.name</td>
                <td>@check.num</td>
                <td>@check.storage</td>
                <td class="js-format-price" data-price="@check.price">@check.price</td>
            </tr>

        }


    </table>
</div>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        var formatter = new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' });
        var priceTags = document.querySelectorAll('.js-format-price');
        priceTags.forEach(tag => {
            var price = tag.getAttribute('data-price');
            var formattedPrice = formatter.format(price);
            tag.textContent = formattedPrice;
        });

        var saleTags = document.querySelectorAll('.ex_pricesale');
        saleTags.forEach(tag => {
            var price = parseFloat(tag.getAttribute('data-price'));
            var originalPrice = parseFloat(tag.getAttribute('data-price1'));
            var discountPercent = ((originalPrice - price) / originalPrice) * 100;
            var roundedDiscountPercent = Math.round(discountPercent);
            tag.textContent = roundedDiscountPercent + '%';
        });
        // Hiển thị thông báo nếu có
        var statusMessage = "@TempData["Message"]";
        if (statusMessage) {
            alert(statusMessage);
        }
    })
</script>
<script>
    sessionStorage.setItem('previousPageProfile', window.location.href);
    var statusMessage = @Html.Raw(Json.Serialize(@TempData["Message"]));
    if (statusMessage) {
        alert(statusMessage);
    }
    function myFunction() {
        let text = "Bạn có muốn thay đổi không!";
        if (confirm(text)) {
            // User confirmed, submit the form
            document.getElementById('editForm').submit();
            return true;
        } else {
            // User canceled, prevent form submission
            return false;
        }

    }
</script>