﻿@model List<Product>
@inject SonicStoreContext _context
@{
    Layout = "_Layout";
}
<script src="https://hoanghamobile.com/js-css/web_v1.2.2.3.js"></script>
<link rel="stylesheet" href="https://hoanghamobile.com/js-css/web_v1.2.2.9.css">
@* <link href="~/css/PageDesign/filter-bar.css" rel="stylesheet" /> *@
<link rel="stylesheet" href="https://hoanghamobile.com/js-css/web_v1.2.2.3.css">
<link href="~/css/PageDesign/filter-bar.css" rel="stylesheet" />
<link rel="stylesheet" href="https://hoanghamobile.com/js-css/web_v1.2.2.3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/owl.carousel@2.3.4/dist/assets/owl.carousel.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/owl.carousel@2.3.4/dist/assets/owl.theme.default.min.css">
<script src="~/js/jquery.twbsPagination.min.js"></script>
<link href="~/css/PageDesign/product-list.css" rel="stylesheet" />
<link href="~/css/PageDesign/list-item.css" rel="stylesheet" />
<style>

    .col-sm-4 {
        width: 20%;
    }

    .product-image-wrapper {
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }


    ul.category_type_2 li a img {
        max-width: 120px;
        max-height: 70px;
        margin: -10px auto;
        border-radius: 4px;
    }

    .delete-option {
        margin: auto 0;
        color: #00483d;
        display: none;
        cursor: pointer;
    }

    ul li a.active {
        color: #009a82;
    }

    body {
        display: flex;
        flex-direction: column;
    }

    body {
        min-height: 100vh;
        margin: 0;
    }

    main {
        flex: 1;
    }

    .empty-title {
        text-align: center;
        font-size: 20px;
        margin: 20px 0;
        font-weight: 500;
        display: none;
    }

    #sort-list {
        display: flex;
        justify-content: end;
    }
</style>
<main>
    <div class="header-breadcrumb">
        <div class="grid">

            <a href="home">
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="18" height="20" x="0" y="0" viewBox="0 0 460.298 460.297" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><path d="M230.149 120.939 65.986 256.274c0 .191-.048.472-.144.855-.094.38-.144.656-.144.852v137.041c0 4.948 1.809 9.236 5.426 12.847 3.616 3.613 7.898 5.431 12.847 5.431h109.63V303.664h73.097v109.64h109.629c4.948 0 9.236-1.814 12.847-5.435 3.617-3.607 5.432-7.898 5.432-12.847V257.981c0-.76-.104-1.334-.288-1.707L230.149 120.939z" fill="#fff" opacity="1" data-original="#00483d" class=""></path><path d="M457.122 225.438 394.6 173.476V56.989c0-2.663-.856-4.853-2.574-6.567-1.704-1.712-3.894-2.568-6.563-2.568h-54.816c-2.666 0-4.855.856-6.57 2.568-1.711 1.714-2.566 3.905-2.566 6.567v55.673l-69.662-58.245c-6.084-4.949-13.318-7.423-21.694-7.423-8.375 0-15.608 2.474-21.698 7.423L3.172 225.438c-1.903 1.52-2.946 3.566-3.14 6.136-.193 2.568.472 4.811 1.997 6.713l17.701 21.128c1.525 1.712 3.521 2.759 5.996 3.142 2.285.192 4.57-.476 6.855-1.998L230.149 95.817l197.57 164.741c1.526 1.328 3.521 1.991 5.996 1.991h.858c2.471-.376 4.463-1.43 5.996-3.138l17.703-21.125c1.522-1.906 2.189-4.145 1.991-6.716-.195-2.563-1.242-4.609-3.141-6.132z" fill="#fff" opacity="1" data-original="#000000" class=""></path></g></svg>

                <span class="syntax-next">
                    Homepage
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="15" height="15" x="0" y="0" viewBox="0 0 128 128" style="enable-background:new 0 0 512 512;/* margin-right: 24px;" xml:space="preserve" class=""><g><path d="M44 108a3.988 3.988 0 0 1-2.828-1.172 3.997 3.997 0 0 1 0-5.656L78.344 64 41.172 26.828c-1.563-1.563-1.563-4.094 0-5.656s4.094-1.563 5.656 0l40 40a3.997 3.997 0 0 1 0 5.656l-40 40A3.988 3.988 0 0 1 44 108z" fill="#fff" opacity="1" data-original="#000000" class=""></path></g></svg>
                    </span>
                </span>
                <span>Điện thoại</span>
            </a>
        </div>

    </div>
    @* sliderder *@
    <section>
        <div class="container">
            <div class="category-list" style="padding:10px 40px; margin:0;">
                <ul class="category_type_2 owl-carousel lrs-slider">
                    <li>
                        <a class="" href="#" title="Apple">
                            <img src="https://cdn.hoanghamobile.com/i/cat/Uploads/2022/09/07/logoooooooooooooooo.png" />
                            <label>Apple</label>
                        </a>
                    </li>
                    <li>
                        <a class="" href="#" title="Samsung">
                            <img src="https://cdn.hoanghamobile.com/i/cat/Uploads/2020/11/30/samsung-logo-transparent.png" />
                            <label>Samsung</label>
                        </a>
                    </li>
                    <li>
                        <a class="" href="#" title="Xiaomi">
                            <img src="https://cdn.hoanghamobile.com/i/cat/Uploads/2023/07/18/xiaomi-logo.png" />
                            <label>Xiaomi</label>
                        </a>
                    </li>
                    <li>
                        <a class="" href="#" title="TECNO">
                            <img src="https://cdn.hoanghamobile.com/i/cat/Uploads/2023/06/02/tecno.png" />
                            <label>TECNO</label>
                        </a>
                    </li>
                    <li>
                        <a class="" href="#" title="OPPO">
                            <img src="https://cdn.hoanghamobile.com/i/cat/Uploads/2020/09/14/brand (3).png" />
                            <label>OPPO</label>
                        </a>
                    </li>
                    <li>
                        <a class="" href="#" title="OSCAL">
                            <img src="https://cdn.hoanghamobile.com/i/cat/Uploads/2024/03/19/oscal-logo-20220920075559857.png" />
                            <label>OSCAL</label>
                        </a>
                    </li>
                    <li>
                        <a class="" href="#" title="HONOR">
                            <img src="https://cdn.hoanghamobile.com/i/cat/Uploads/2023/06/19/honor-logo-2022-svg.png" />
                            <label>HONOR</label>
                        </a>
                    </li>
                    <li>
                        <a class="" href="#" title="realme">
                            <img src="https://cdn.hoanghamobile.com/i/cat/Uploads/2024/01/05/realme-new-logo-09.png" />
                            <label>realme</label>
                        </a>
                    </li>
                    <li>
                        <a class="" href="#" title="Vivo">
                            <img src="https://cdn.hoanghamobile.com/i/cat/Uploads/2020/11/30/vivo-logo.png" />
                            <label>Vivo</label>
                        </a>
                    </li>
                    <li>
                        <a class="" href="#" title="Nokia">
                            <img src="https://cdn.hoanghamobile.com/i/cat/Uploads/2020/09/14/brand (4).png" />
                            <label>Nokia</label>
                        </a>
                    </li>
                    <li>
                        <a class="" href="#" title="HTC">
                            <img src="https://cdn.hoanghamobile.com/i/cat/Uploads/2023/08/22/htc-new-logo-svg.png" />
                            <label>HTC</label>
                        </a>
                    </li>
                    <li>
                        <a class="" href="#" title="Infinix">
                            <img src="https://cdn.hoanghamobile.com/i/cat/Uploads/2023/05/26/infinix-logo-svg.png" />
                            <label>Infinix</label>
                        </a>
                    </li>
                    <li>
                        <a class="" href="#" title="INOI">
                            <img src="https://cdn.hoanghamobile.com/i/cat/Uploads/2024/01/17/logo2.png" />
                            <label>INOI</label>
                        </a>
                    </li>
                    <li>
                        <a class="" href="#" title="XOR">
                            <img src="https://cdn.hoanghamobile.com/i/cat/Uploads/2021/12/24/xorr.png" />
                            <label>XOR</label>
                        </a>
                    </li>
                    <li>
                        <a class="" href="#" title="Masstel">
                            <img src="https://cdn.hoanghamobile.com/i/cat/Uploads/2020/10/30/logo-masstel-4.png" />
                            <label>Masstel</label>
                        </a>
                    </li>
                    <li>
                        <a class="" href="#" title="TCL">
                            <img src="https://cdn.hoanghamobile.com/i/cat/Uploads/2023/06/02/tcl.png" />
                            <label>TCL</label>
                        </a>
                    </li>
                    <li>
                        <a class="" href="#" title="Itel">
                            <img src="https://cdn.hoanghamobile.com/i/cat/Uploads/2023/03/10/itel-logo.png" />
                            <label>Itel</label>
                        </a>
                    </li>
                    <li>
                        <a class="" href="#" title="ZTE">
                            <img src="https://cdn.hoanghamobile.com/i/cat/Uploads/2023/12/08/zte-logo-svg-1.png" />
                            <label>ZTE</label>
                        </a>
                    </li>
                    <li>
                        <a class="" href="#" title="Mới - tin đồn">
                            <img src="https://cdn.hoanghamobile.com/i/cat/Uploads/2023/08/02/logo-moi-ra-2.png" />
                            <label>Mới - tin đồn</label>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    @* filter bar *@
    <section>
        <div class="container">
            <div class="product-filters2">
                <div class="left">
                    <span class="delete-option" data-delete="1">
                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="20" height="20" x="0" y="0" viewBox="0 0 32 32" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><path d="M19.5 23.75a1 1 0 0 0 1-1v-10a1 1 0 0 0-2 0v10a1 1 0 0 0 1 1zM12.5 23.75a1 1 0 0 0 1-1v-10a1 1 0 0 0-2 0v10a1 1 0 0 0 1 1zM20 4.25a1 1 0 0 0 0-2h-8a1 1 0 0 0 0 2z" fill="#00483d" opacity="1" data-original="#000000" class=""></path><path d="M5 5.25a1 1 0 0 0 0 2h1v18.4c0 2.26 1.84 4.1 4.1 4.1h11.8c2.26 0 4.1-1.84 4.1-4.1V7.25h1a1 1 0 0 0 0-2H7zm19 2v18.4a2.1 2.1 0 0 1-2.1 2.1H10.1a2.1 2.1 0 0 1-2.1-2.1V7.25z" fill="#00483d" opacity="1" data-original="#000000" class=""></path></g></svg>
                    </span>
                    <strong class="label" style="
    font-size: 14px;
    margin-top: 1px;
">Lọc danh sách:</strong>
                    <div class="facet">
                        <label>
                            <a href="javascript:;">Thương hiệu <strong style="display:inline"></strong> <i class="fa-solid fa-chevron-right"></i></a>

                        </label>
                        <div class="sub">
                            <ul id="brand-list">
                                @foreach (var item in ViewBag.listBrand)
                                {
                                    <li><a href="#" class="brand-link" data-brand-id="@item.Id">@item.BrandName <i class="total">(@item.Products.Count)</i></a></li>
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="facet">
                        <label>
                            <a href="javascript:;">Phân loại <strong style="display:inline"></strong> <i class="fa-solid fa-chevron-right"></i></a>
                        </label>
                        <div class="sub">
                            <ul id="category-list">
                                @foreach (var item in _context.Categories)
                                {
                                    <li><a href="#" class="category-link" data-category-id="@item.Id">@item.Name <i class="total">(@item.Products.Count)</i></a></li>
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="facet">
                        <label>
                            <a href="javascript:;">Gi&#225; <strong style="display:inline"></strong><i class="fa-solid fa-chevron-right"></i></a>
                        </label>
                        <div class="sub">
                            <ul id="price-list">
                                @{
                                    var productCount = (from p in _context.Products
                                                        join s in _context.Storages on p.Id equals s.ProductId
                                                        where s.SalePrice >= 1000000 && s.SalePrice <= 2000000
                                                        select p).Count();
                                }
                                <li><a href="#" class="price-link" data-price="1 đến 2">1 đến 2 triệu <i class="total">(@productCount)</i></a></li>
                                @{
                                    var productCount2 = (from p in _context.Products
                                                         join s in _context.Storages on p.Id equals s.ProductId
                                                         where s.SalePrice >= 1000000 && s.SalePrice <= 3000000
                                                         select p).Count();
                                }
                                <li><a href="#" class="price-link" data-price="1 đến 3">1 đến 3 triệu <i class="total">(@productCount2)</i></a></li>
                                @{
                                    var productCount3 = (from p in _context.Products
                                                         join s in _context.Storages on p.Id equals s.ProductId
                                                         where s.SalePrice >= 2000000 && s.SalePrice <= 3000000
                                                         select p).Count();
                                }
                                <li><a href="#" class="price-link" data-price="2 đến 3">2 đến 3 triệu <i class="total">(@productCount3)</i></a></li>
                                @{
                                    var productCount4 = (from p in _context.Products
                                                         join s in _context.Storages on p.Id equals s.ProductId
                                                         where s.SalePrice >= 3000000 && s.SalePrice <= 4000000
                                                         select p).Count();
                                }
                                <li><a href="#" class="price-link" data-price="3 đến 4">3 đến 4 triệu <i class="total">(@productCount4)</i></a></li>
                                @{
                                    var productCount5 = (from p in _context.Products
                                                         join s in _context.Storages on p.Id equals s.ProductId
                                                         where s.SalePrice >= 3000000 && s.SalePrice <= 5000000
                                                         select p).Count();
                                }
                                <li><a href="#" class="price-link" data-price="3 đến 5">3 đến 5 triệu <i class="total">(@productCount5)</i></a></li>
                                @{
                                    var productCount6 = (from p in _context.Products
                                                         join s in _context.Storages on p.Id equals s.ProductId
                                                         where s.SalePrice >= 4000000 && s.SalePrice <= 5000000
                                                         select p).Count();
                                }
                                <li><a href="#" class="price-link" data-price="4 đến 5">4 đến 5 triệu <i class="total">(@productCount6)</i></a></li>
                                @{
                                    var productCount7 = (from p in _context.Products
                                                         join s in _context.Storages on p.Id equals s.ProductId
                                                         where s.SalePrice >= 5000000 && s.SalePrice <= 6000000
                                                         select p).Count();
                                }
                                <li><a href="#" class="price-link" data-price="5 đến 6">5 đến 6 triệu <i class="total">(@productCount7)</i></a></li>
                                @{
                                    var productCount8 = (from p in _context.Products
                                                         join s in _context.Storages on p.Id equals s.ProductId
                                                         where s.SalePrice >= 5000000 && s.SalePrice <= 8000000
                                                         select p).Count();
                                }
                                <li><a href="#" class="price-link" data-price="5 đến 8"> 5 đến 8 triệu <i class="total">(@productCount8)</i></a></li>
                                @{
                                    var productCount9 = (from p in _context.Products
                                                         join s in _context.Storages on p.Id equals s.ProductId
                                                         where s.SalePrice >= 6000000 && s.SalePrice <= 8000000
                                                         select p).Count();
                                }
                                <li><a href="#" class="price-link" data-price="6 đến 8">6 đến 8 triệu <i class="total">(@productCount9)</i></a></li>
                                @{
                                    var productCount10 = (from p in _context.Products
                                                          join s in _context.Storages on p.Id equals s.ProductId
                                                          where s.SalePrice >= 8000000 && s.SalePrice <= 10000000
                                                          select p).Count();
                                }
                                <li><a href="#" class="price-link" data-price="8 đến 10">8 đến 10 triệu <i class="total">(@productCount10)</i></a></li>
                                @{
                                    var productCount11 = (from p in _context.Products
                                                          join s in _context.Storages on p.Id equals s.ProductId
                                                          where s.SalePrice >= 10000000 && s.SalePrice <= 12000000
                                                          select p).Count();
                                }
                                <li><a href="#" class="price-link" data-price="10 đến 12">10 đến 12 triệu <i class="total">(@productCount11)</i></a></li>
                                @{
                                    var productCount12 = (from p in _context.Products
                                                          join s in _context.Storages on p.Id equals s.ProductId
                                                          where s.SalePrice >= 10000000 && s.SalePrice <= 15000000
                                                          select p).Count();
                                }
                                <li><a href="#" class="price-link" data-price="10 đến 15">10 đến 15 triệu <i class="total">(@productCount12)</i></a></li>
                                @{
                                    var productCount13 = (from p in _context.Products
                                                          join s in _context.Storages on p.Id equals s.ProductId
                                                          where s.SalePrice >= 12000000 && s.SalePrice <= 15000000
                                                          select p).Count();
                                }
                                <li><a href="#" class="price-link" data-price="12 đến 15">12 đến 15 triệu <i class="total">(@productCount13)</i></a></li>
                                @{
                                    var productCount14 = (from p in _context.Products
                                                          join s in _context.Storages on p.Id equals s.ProductId
                                                          where s.SalePrice >= 15000000 && s.SalePrice <= 20000000
                                                          select p).Count();
                                }
                                <li><a href="#" class="price-link" data-price="15 đến 20">15 đến 20 triệu <i class="total">(@productCount14)</i></a></li>
                                @{
                                    var productCount15 = (from p in _context.Products
                                                          join s in _context.Storages on p.Id equals s.ProductId
                                                          where s.SalePrice >= 20000000 && s.SalePrice <= 25000000
                                                          select p).Count();
                                }
                                <li><a href="#" class="price-link" data-price="20 đến 25">20 đến 25 triệu <i class="total">(@productCount15)</i></a></li>
                                @{
                                    var productCount16 = (from p in _context.Products
                                                          join s in _context.Storages on p.Id equals s.ProductId
                                                          where s.SalePrice >= 25000000 && s.SalePrice <= 30000000
                                                          select p).Count();
                                }
                                <li><a href="#" class="price-link" data-price="25 đến 30">25 đến 30 triệu <i class="total">(@productCount16)</i></a></li>
                                @{
                                    var productCount17 = (from p in _context.Products
                                                          join s in _context.Storages on p.Id equals s.ProductId
                                                          where s.SalePrice >= 20000000 && s.SalePrice <= 30000000
                                                          select p).Count();
                                }
                                <li><a href="#" class="price-link" data-price="20 đến 30">20 đến 30 triệu <i class="total">(@productCount17)</i></a></li>
                                @{
                                    var productCount18 = (from p in _context.Products
                                                          join s in _context.Storages on p.Id equals s.ProductId
                                                          where s.SalePrice >= 30000000 && s.SalePrice <= 40000000
                                                          select p).Count();
                                }
                                <li><a href="#" class="price-link" data-price="30 đến 40">30 đến 40 triệu <i class="total">(@productCount18)</i></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="facet">
                        <label>
                            <a href="javascript:;">RAM <strong style="display:inline"></strong><i class="fa-solid fa-chevron-right"></i></a>
                        </label>
                        <div class="sub">
                            <ul id="ram-list">
                                @foreach (var r in ViewBag.listRam as List<int>)
                                {

                                    <li><a href="#" class="ram-link" data-ram="@r">@(r)GB <i class="total">(@_context.Specifications.Where(s => s.Ram == r).Count())</i></a></li>
                                }

                            </ul>
                        </div>
                    </div>
                    <div class="facet">
                        <label>
                            <a href="javascript:;">Bộ nhớ trong <strong style="display:inline"></strong><i class="fa-solid fa-chevron-right"></i></a>
                        </label>
                        <div class="sub">
                            <ul id="storage-list">
                                @foreach (var r in ViewBag.listStorage as List<int>)
                                {

                                    <li><a href="#" class="storage-link" data-storage="@r">@(r)GB <i class="total">(@_context.Storages.Where(s => s.Storage_capacity == r).Count())</i></a></li>
                                }

                            </ul>
                        </div>
                    </div>
                </div>

                <div class="right">
                    <div class="facet">
                        <label id="title-sort">Sắp xếp <i class="fa-solid fa-chevron-right" id="modify-icon-rightar"></i></label>
                        <div class="sub">
                            <ul id="sort-list">
                                <li><a href="#" class="sort-link" data-sort="0"> Gi&#225; thấp đến cao</a></li>
                                <li><a href="#" class="sort-link" data-sort="1"> Gi&#225; cao đến thấp</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="grid">
        <h2 class="title">Điện thoại di động (điện thoại thông minh)</h2>
        <div class="detail-title">Cùng với sự phát triển của khoa học công nghệ, <span>điện thoại</span> (hay smartphone) ngày càng được cải tiến để phục vụ tốt hơn cho cuộc sống con người.</div>
        <div class="list-products">
        </div>
        <div class="empty-title">Không có sản phẩm nào với danh mục đã chọn</div>
        <div class="btn-mains" style="margin: 23px 0; text-align:center">
            <div id="pagination" class="pagination" style="justify-content:center"></div>
        </div>
    </div>


</main>
<script id="data-template" type="x-tmpl-mustache">

        <div class="list-products__item" data-id="138922">
        <a href={{url}} aria-label="iPhone 13 128GB chính hãng VN/A - Tặng BH rơi vỡ vào nước" title="{{name}}">
            <div class="thumbnail">
                <img class="lazyload" loading="lazy" src={{image}} alt="iPhone 13 128GB chính hãng VN/A - Tặng BH rơi vỡ vào nước" width="150" height="150">
            </div>
            <div class="detail">
                <h3 class="title_name">{{name}}</h3>
                <div class="ex_pricesale percent d-none" data-price="{{salePrices}}" data-price1="{{originalPrices}}">&nbsp;</div>
                <div class="price mb-12">
       <ins class="new-price js-format-price" data-price="{{salePrices}}">{{salePrices}}</ins>
       <del class="old-price js-format-price" data-price="{{originalPrices}}">{{originalPrices}}</del>
                </div>
                <div class="extra_tick">
                    <label class="installment">Trả góp 0%</label>
                    <label class="freeship">Miễn phí ship</label>
                </div>
                <div class="block-rate_product">
                    <div class="block-rate__star">
                        <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512">
                            <path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512">
                            <path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512">
                            <path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512">
                            <path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512">
                            <path d="M528.1 171.5L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6zM388.6 312.3l23.7 138.4L288 385.4l-124.3 65.3 23.7-138.4-100.6-98 139-20.2 62.2-126 62.2 126 139 20.2-100.6 98z"></path>
                        </svg>
                    </div>
                    <div class="rate_title">
                        (268 đánh giá)
                    </div>
                </div>
            </div>
        </a>
    </div>
</script>
@* slider brand *@
<script>
    $(document).ready(function () {
        $(".category_type_2").owlCarousel({
            loop: true,
            nav: true,
            autoplay: true,
            margin: 10,
            responsive: {
                0: {
                    items: 2 // Số lượng mục hiển thị tùy thuộc vào kích thước màn hình
                },
                600: {
                    items: 3
                },
                1000: {
                    items: 6
                }
            }
        });
    });
</script>
<script>
    sessionStorage.setItem('previousPageProfile', window.location.href);
</script>
@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/owl.carousel@2.3.4/dist/owl.carousel.min.js"></script>
    <script src="~/js/mustache.min.js"></script>
    <script src="~/js/jquery.twbsPagination.min.js"></script>
    <script src="~/js/ProductDetail/List.js"></script>
}
