﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    <link href="https://sb-admin-pro.startbootstrap.com/css/styles.css" rel="stylesheet" />
    <script data-search-pseudo-elements="" defer="" src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/js/all.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.29.0/feather.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/izitoast@1.4.0/dist/js/iziToast.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/izitoast@1.4.0/dist/css/iziToast.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/izimodal/1.6.1/js/iziModal.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/izimodal/1.6.1/css/iziModal.css" rel="stylesheet" />
    <script src="https://code.jquery.com/ui/1.13.3/jquery-ui.js"></script>
    <link rel="stylesheet" href=" https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css">


    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.15.2/js/selectize.min.js"
            integrity="sha512-IOebNkvA/HZjMM7MxL0NYeLYEalloZ8ckak+NDtOViP7oiYzG5vn6WVXyrJDiJPhl4yRdmNAG49iuLmhkUdVsQ=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>
    @* <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> *@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.15.2/css/selectize.bootstrap5.min.css">
    <script>
        $(document).ready(function () {
            $(function () {
                $("#dob").datepicker();
            });

        });
    </script>

    <style>
        #datatablesSimple {
            width: 100%;
            border-collapse: collapse;
        }

            #datatablesSimple th, #datatablesSimple td {
                padding: 8px;
                text-align: left;
                border-bottom: 1px solid #ddd;
            }

            #datatablesSimple thead th {
                text-align: center;
                vertical-align: middle;
            }

            #datatablesSimple tbody td {
                text-align: center;
            }

            #datatablesSimple th:nth-child(1), #datatablesSimple td:nth-child(1) {
                width: 5%;
            }

            #datatablesSimple th:nth-child(2) {
                width: 45%;
            }

            #datatablesSimple td:nth-child(2) {
                width: 45%;
                text-align: left
            }

            #datatablesSimple th:nth-child(3), #datatablesSimple td:nth-child(3) {
                width: 15%;
            }

            #datatablesSimple th:nth-child(4), #datatablesSimple td:nth-child(4) {
                width: 15%;
            }

            #datatablesSimple th:nth-child(5), #datatablesSimple td:nth-child(5) {
                width: 20%;
            }




        .button-grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 10px;
        }



        .btn-vut {
            display: inline-block;
            padding: 10px 10px;
            font-size: 14px;
            font-weight: bold;
            text-align: center;
            color: white;
            background-color: #007bff;
            border: none;
            border-radius: 4px;
            text-decoration: none;
            cursor: pointer;
            transition: background-color 0.3s;
            margin-top: 3px;
            width: 90px;
            margin-right: 0px;
        }

        .btn:hover {
            color: white;
        }

        .btn-toggle {
            background-color: green;
        }

        .btn-remove {
            background-color: red;
        }

            .btn-remove:hover {
                background-color: orangered;
            }

        .btn-edit {
            background-color: goldenrod;
        }

            .btn-edit:hover {
                background-color: gold;
            }

        .btn-toggle:hover {
            background-color: lightgreen;
            color: white;
        }

        .btn-toggle.off {
            background-color: slategray;
        }



            .btn-toggle.off:hover {
                background-color:;
                color: lightslategray;
            }
    </style>
    <script data-search-pseudo-elements="" defer="" src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/js/all.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.29.0/feather.min.js" crossorigin="anonymous"></script>
</head>
<body class="nav-fixed">
    <partial name="_NavHeaderDashboard"></partial>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <partial name="_NavLeftsideAdmin"></partial>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
                    <div class="container-fluid px-4">
                        <div class="page-header-content">
                            <div class="row align-items-center justify-content-between pt-3">
                                <div class="col-auto mb-3">
                                    <h1 class="page-header-title">
                                        <div class="page-header-icon"></div>
                                        Danh sách tech news
                                    </h1>
                                </div>
                                <div class="col-12 col-xl-auto mb-3">
                                    <a style="color:black" asp-controller="CreateNews" asp-action="CreateNewsScreen">
                                        Tạo bài viết mới
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>


                <div class="container-fluid px-4">
                    <div class="card">
                        <div class="card-body">

                            <table id="datatablesSimple">

                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Bài viết</th>
                                        <th>Tác giả</th>
                                        <th>Ngày đăng</th>
                                        <th>Chức năng</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (var p in Model.NewsList)
                                    {
                                        <tr>
                                            <th>@p.Id</th>
                                            <th>@p.Title</th>
                                            <th>@p.CreateByNavigation.FullName</th>
                                            <th>
                                                <time class="time published" style="font-size: 18px;" datetime="@p.CreateAt" title="@p.CreateAt"> @p.CreateAt?.ToString("dd/MM/yyyy")</time>
                                            </th>
                                            <th>
                                                <div class="button-grid">
                                                    <div>
                                                        <button class="btn-vut" onclick="location.href='@Url.Action("TechNewsDetailScreen", "TechNewsDetail", new { id = p.Id })'">
                                                            Xem
                                                        </button>
                                                    </div>

                                                    <div>
                                                        <button class="btn-vut btn-toggle @(p.Status == true ? "" : "off") toggle-status-btn" data-id="@p.Id">
                                                            @(p.Status == true ? "Hiện" : "Ẩn")
                                                        </button>
                                                    </div>
                                                    <div>
                                                        <button class="btn-vut btn-edit" onclick="location.href='@Url.Action("EditNewsScreen", "EditNews", new { id = p.Id })'">
                                                            Sửa
                                                        </button>
                                                    </div>

                                                    <div>
                                                        <form asp-controller="RemoveNews" asp-action="RemoveNews" asp-route-id="@p.Id" method="post" class="delete-form" style="display: inline;">
                                                            <button type="button" class="btn-vut btn-remove delete-btn">Xoá</button>
                                                        </form>
                                                    </div>



                                                </div>
                                            </th>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </main>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            var formatter = new Intl.NumberFormat("vi-VN", {
                style: "currency",
                currency: "VND",
            });
            var priceTags = document.querySelectorAll(".js-format-price");
            priceTags.forEach((tag) => {
                var price = tag.getAttribute("data-price");
                var formattedPrice = formatter.format(price);
                tag.textContent = formattedPrice;
            });

            var saleTags = document.querySelectorAll(".ex_pricesale");
            saleTags.forEach((tag) => {
                var price = parseFloat(tag.getAttribute("data-price"));
                var originalPrice = parseFloat(tag.getAttribute("data-price1"));
                var discountPercent = ((originalPrice - price) / originalPrice) * 100;
                var roundedDiscountPercent = Math.round(discountPercent);
                tag.textContent = roundedDiscountPercent + "%";
            });
            if (statusMessage) {
                alert(statusMessage);
            }
        });
    </script>
    <script data-cfasync="false" src="https://sb-admin-pro.startbootstrap.com/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="https://sb-admin-pro.startbootstrap.com/js/scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" crossorigin="anonymous"></script>
    <script src="https://sb-admin-pro.startbootstrap.com/assets/demo/chart-area-demo.js"></script>
    <script src="https://sb-admin-pro.startbootstrap.com/assets/demo/chart-bar-demo.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
    <script src="https://sb-admin-pro.startbootstrap.com/js/datatables/datatables-simple-demo.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/litepicker/dist/bundle.js" crossorigin="anonymous"></script>
    <script src="https://sb-admin-pro.startbootstrap.com/js/litepicker.js"></script>

    @* button đổi màu *@

    <script>
        (function () {
            if (!document.body) return;
            var js =
                "window['__CF$cv$params']={r:'88dddfcbfbc184f6',t:'MTcxNzM5ODc0MC4wMTIwMDA='};_cpo=document.createElement('script');_cpo.nonce='',_cpo.src='/cdn-cgi/challenge-platform/scripts/jsd/main.js',document.getElementsByTagName('head')[0].appendChild(_cpo);";
            var _0xh = document.createElement("iframe");
            _0xh.height = 1;
            _0xh.width = 1;
            _0xh.style.position = "absolute";
            _0xh.style.top = 0;
            _0xh.style.left = 0;
            _0xh.style.border = "none";
            _0xh.style.visibility = "hidden";
            document.body.appendChild(_0xh);
            function handler() {
                var _0xi = _0xh.contentDocument || _0xh.contentWindow.document;
                if (_0xi) {
                    var _0xj = _0xi.createElement("script");
                    _0xj.innerHTML = js;
                    _0xi.getElementsByTagName("head")[0].appendChild(_0xj);
                }
            }
            if (document.readyState !== "loading") {
                handler();
            } else if (window.addEventListener) {
                document.addEventListener("DOMContentLoaded", handler);
            } else {
                var prev = document.onreadystatechange || function () { };
                document.onreadystatechange = function (e) {
                    prev(e);
                    if (document.readyState !== "loading") {
                        document.onreadystatechange = prev;
                        handler();
                    }
                };
            }
        })();
    </script>
    <script defer src="https://static.cloudflareinsights.com/beacon.min.js/vef91dfe02fce4ee0ad053f6de4f175db1715022073587" integrity="sha512-sDIX0kl85v1Cl5tu4WGLZCpH/dV9OHbA4YlKCuCiMmOQIk4buzoYDZSFj+TvC71mOBLh8CDC/REgE0GX0xcbjA==" data-cf-beacon='{"rayId":"88dddfcbfbc184f6","version":"2024.4.1","token":"6e2c2575ac8f44ed824cef7899ba8463"}' crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            $('.toggle-status-btn').click(function () {
                var button = $(this);
                var newsId = button.data('id');
                var url = `/TechNewsList/ToggleStatus/${newsId}`;
                console.log(button)
                $.ajax({
                    url: url,
                    type: 'POST',
                    success: function (result) {
                        if (button.hasClass('off')) {
                            button.removeClass('off').css('background-color', 'green').text('Hiện');
                        } else {
                            button.addClass('off').css('background-color', 'slategray').text('Ẩn');
                        }
                    },
                    error: function (xhr, status, error) {
                        alert('Cập nhật trạng thái thất bại.');
                        console.error('Error:', error);
                    }
                });
            });
        });
        $('.toggle-status-btn').click(function () {
            var button = $(this);
            if (button.hasClass('off')) {
                button.removeClass('off').css('background-color', 'green').text('Hiện');
            } else {
                button.addClass('off').css('background-color', 'slategray').text('Ẩn');
            }
        })
    </script>

        <script>
    sessionStorage.setItem('previousPageProfile', window.location.href);
    </script>

    <script>
        $(document).ready(function () {
            $('.toggle-status-btn').click(function () {
                var button = $(this);
                var newsId = button.data('id');
                var url = `/TechNewsList/ToggleStatus/${newsId}`;

                $.ajax({
                    url: url,
                    type: 'POST',
                    success: function (result) {
                        if (button.hasClass('off')) {
                            button.removeClass('off').css('background-color', 'green').text('Hiện');
                        } else {
                            button.addClass('off').css('background-color', 'slategray').text('Ẩn');
                        }
                    },
                    error: function (xhr, status, error) {
                        alert('Cập nhật trạng thái thất bại.');
                        console.error('Error:', error);
                    }
                });
            });

            // Handle delete confirmation
            $('.delete-btn').click(function () {
                var form = $(this).closest('form');
                if (confirm('Bạn có chắc chắn muốn xoá bài viết này?')) {
                    form.submit();
                }
            });
        });
    </script>


</body>
</html>
