﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    <link href="https://sb-admin-pro.startbootstrap.com/css/styles.css" rel="stylesheet" />
    <script data-search-pseudo-elements="" defer="" src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/js/all.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.29.0/feather.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/izitoast@1.4.0/dist/js/iziToast.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/izitoast@1.4.0/dist/css/iziToast.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/izimodal/1.6.1/js/iziModal.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/izimodal/1.6.1/css/iziModal.css" rel="stylesheet" />
    <script src="https://code.jquery.com/ui/1.13.3/jquery-ui.js"></script>
    <link rel="stylesheet" href=" https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css">
    <link href="~/RatingStar/star-rating.css" rel="stylesheet" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.15.2/js/selectize.min.js"
            integrity="sha512-IOebNkvA/HZjMM7MxL0NYeLYEalloZ8ckak+NDtOViP7oiYzG5vn6WVXyrJDiJPhl4yRdmNAG49iuLmhkUdVsQ=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>
    @* <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> *@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.15.2/css/selectize.bootstrap5.min.css">
    <script>
        $(document).ready(function () {
            $(function () {
                $("#dob").datepicker();
            });

        });
    </script>
    <style>
        .sb-customizer-toggler {
            display: none !important;
        }

        .dropdown-notifications-item.active {
            background-color: #e0e5ec;
        }

        tbody td:last-child {
            text-align: center;
        }

        .dropdown-notifications {
            position: relative;
        }

        .icon-button__badge {
            position: absolute;
            top: 7px;
            right: 6px;
            width: 14px;
            height: 14px;
            background: red;
            color: #ffffff;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            font-size: 8px;
        }

        .bg-mess {
            background-color: #e0e5ec;
        }

        input[type="file"] {
            position: relative;
        }

            input[type="file"]::file-selector-button {
                width: 136px;
                color: transparent;
            }

            /* Faked label styles and icon */
            input[type="file"]::before {
                position: absolute;
                pointer-events: none;
                top: 12px;
                left: 20px;
                height: 20px;
                width: 20px;
                content: "";
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%230964B0'%3E%3Cpath d='M18 15v3H6v-3H4v3c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2v-3h-2zM7 9l1.41 1.41L11 7.83V16h2V7.83l2.59 2.58L17 9l-5-5-5 5z'/%3E%3C/svg%3E");
            }

            input[type="file"]::after {
                position: absolute;
                pointer-events: none;
                top: 17px;
                left: 47px;
                color: #0964b0;
                content: "Thêm ảnh";
            }

            /* ------- From Step 1 ------- */

            /* file upload button */
            input[type="file"]::file-selector-button {
                border-radius: 4px;
                padding: 0 16px;
                height: 40px;
                cursor: pointer;
                background-color: white;
                border: 1px solid rgba(0, 0, 0, 0.16);
                box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
                margin-right: 16px;
                transition: background-color 200ms;
            }

                /* file upload button hover state */
                input[type="file"]::file-selector-button:hover {
                    background-color: #f3f4f6;
                }

                /* file upload button active state */
                input[type="file"]::file-selector-button:active {
                    background-color: #e5e7eb;
                }

    </style>
    <link href="~/css/PageDesign/AdminDashboard.css" rel="stylesheet" />
</head>
<body class="nav-fixed">
    <partial name="_NavHeaderDashboard"></partial>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <partial name="_NavLeftsideAdmin"></partial>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
                    <div class="container-fluid px-4">
                        <div class="page-header-content">
                            <div class="row align-items-center justify-content-between pt-3">
                                <div class="col-auto mb-3">
                                    <h1 class="page-header-title">
                                        <div class="page-header-icon"></div>
                                        Danh sách feedback
                                    </h1>
                                </div>
                            </div>
                        </div>
                    </div>

                </header>
                <!-- Main page content-->
                <div class="container-fluid px-4">
                    <div class="card">
                        <div class="card-body">

                            <table id="datatablesSimple">
                                <thead>
                                    <tr>
                                        <th>Khách hàng</th>
                                        <th>Số điện thoại</th>
                                        <th>Nội dung</th>
                                        <th>Sản phẩm</th>
                                        <th>Đánh giá</th>
                                        <th>Thay đổi trạng thái</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Khách hàng</th>
                                        <th>Số điện thoại</th>
                                        <th>Nội dung</th>
                                        <th>Sản phẩm</th>
                                        <th>Đánh giá</th>
                                        <th>Thay đổi trạng thái</th>
                                    </tr>
                                </tfoot>
                                <tbody id="dataBody">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>

    <script id="data-template" type="x-tmpl-mustache">
        <tr data-id="{{id}}">
                     <td>
                         {{fullName}}
                    </td>
                   <td>{{phone}}</td>
                   <td>{{content}}</td>
                   <td>{{name}}</td>
                   <td>
                      <select class="star-rating" disabled>
                        <option value="">Select a rating</option>
                        <option value="5" {{#isRating5}}selected{{/isRating5}}>Excellent</option>
                         <option value="4" {{#isRating4}}selected{{/isRating4}}>Very Good</option>
                         <option value="3" {{#isRating3}}selected{{/isRating3}}>Average</option>
                         <option value="2" {{#isRating2}}selected{{/isRating2}}>Poor</option>
                         <option value="1" {{#isRating1}}selected{{/isRating1}}>Terrible</option>
                     </select>
                   </td>
                          <td>
                                            <a style="
                                                                margin-right: 10px;
                                                            ">

                                            <div class="pretty p-switch">
                                                <input data-id={{id}} id="status-slide" type="checkbox" {{#isChecked}}checked{{/isChecked}}/>
                                                <div class="state p-primary">
                                                    <label></label>
                                                </div>
                                            </div>
                                    </a>
                                    <a class="btn btn-datatable btn-icon btn-transparent-dark me-2" id="icon-view" data-id={{id}}><i class="fa-regular fa-eye"></i></a>
                         </td>
        </tr>
    </script>
    <script data-cfasync="false" src="https://sb-admin-pro.startbootstrap.com/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="https://sb-admin-pro.startbootstrap.com/js/scripts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
    @* <script src="https://sb-admin-pro.startbootstrap.com/js/datatables/datatables-simple-demo.js"></script> *@

    <script src="https://assets.startbootstrap.com/js/sb-customizer.js"></script>
    <sb-customizer project="sb-admin-pro"></sb-customizer>
    <script>(function () { function c() { var b = a.contentDocument || a.contentWindow.document; if (b) { var d = b.createElement('script'); d.innerHTML = "window.__CF$cv$params={r:'898e04802d408b45',t:'MTcxOTI0NTczNy4wMDAwMDA='};var a=document.createElement('script');a.nonce='';a.src='/cdn-cgi/challenge-platform/scripts/jsd/main.js';document.getElementsByTagName('head')[0].appendChild(a);"; b.getElementsByTagName('head')[0].appendChild(d) } } if (document.body) { var a = document.createElement('iframe'); a.height = 1; a.width = 1; a.style.position = 'absolute'; a.style.top = 0; a.style.left = 0; a.style.border = 'none'; a.style.visibility = 'hidden'; document.body.appendChild(a); if ('loading' !== document.readyState) c(); else if (window.addEventListener) document.addEventListener('DOMContentLoaded', c); else { var e = document.onreadystatechange || function () { }; document.onreadystatechange = function (b) { e(b); 'loading' !== document.readyState && (document.onreadystatechange = e, c()) } } } })();</script>
    <script defer src="https://static.cloudflareinsights.com/beacon.min.js/vcd15cbe7772f49c399c6a5babf22c1241717689176015" integrity="sha512-ZpsOmlRQV6y907TI0dKBHq9Md29nnaEIPlkf84rnaERnq6zvWvPUqr2ft8M1aS28oN72PdrCzSjY4U6VaAw1EQ==" data-cf-beacon='{"rayId":"898e04802d408b45","version":"2024.4.1","token":"6e2c2575ac8f44ed824cef7899ba8463"}' crossorigin="anonymous"></script>
</body>
</html>
<script>
    sessionStorage.setItem('previousPageProfile', window.location.href);
</script>
<script>

    $(document).ready(function () {
        let dataTable;
        function loadData() {
            $.ajax({
                url: '/loadData-feedback',
                type: 'GET',
                dataType: 'json',
                success: function (response) {
                    var data = response.data;
                    var html = '';
                    var template = $('#data-template').html();
                    $.each(data, function (i, item) {
                        html += Mustache.render(template, {
                            id: item.id,
                            fullName: item.fullName,
                            content: item.content,
                            phone: item.phone,
                            name: item.name,
                            isChecked: item.status == false,
                            isRating1: item.rating === 1,
                            isRating2: item.rating === 2,
                            isRating3: item.rating === 3,
                            isRating4: item.rating === 4,
                            isRating5: item.rating === 5
                        });
                    });
                    if (dataTable) {
                        dataTable.destroy();
                    }
                    $('#dataBody').html(html);
                    dataTable = new simpleDatatables.DataTable("#datatablesSimple");
                    var stars = new StarRating('.star-rating');
                }
            });
        }
        function changeStatus(id) {
            $.ajax({
                url: '/change-status-feedback',
                data: {
                    id: id
                },
                type: 'POST',
                dataType: 'json',
                success: function (response) {
                    iziToast.success({
                        message: 'Thay đổi trạng thái thành công!',
                    });
                }
            });
        }

        function viewFeedbackAjax(id) {
            $.ajax({
                url: '/view-product-feedback',
                data: {
                    id: id
                },
                type: 'POST',
                dataType: 'json',
                success: function (response) {
                    var data = response.data;
                    bootbox.dialog({
                        title: 'Xem nội dung',
                        message: `
                                                    <form id="sliderForm">
                                                        <div class="mb-3">
                                                         <div class="mb-3">
                                                            <label class="small mb-1" for="inpTitle">Khách hàng</label>
                                                                <input class="form-control" id="bootboxInpTitle" type="text"value="${data.fullName}" readonly>
                                                        </div>
                                                        <div class="mb-3">
                                                            <label class="small mb-1" for="inpBacklink">Sản phẩm</label>
                                                                <input class="form-control" id="bootboxInpBacklink" type="text" value="${data.name}" readonly>
                                                        </div>
                                                       <div class="mb-3">
                                                                <label class="small mb-1" for="inpBacklink">Ngày tạo</label>
                                                                   <input class="form-control" id="bootboxInpBacklink" type="text"value="${data.created}" readonly>
                                                        </div>
                                                            <label class="small mb-1" for="bootboxInpTitle">Nội dung</label>
                                                                <textarea class="form-control" id="bootboxInpTitle" type="text"  readonly>${data.content}</textarea>
                                                        </div>

                                                    </form>
                                                `,
                        buttons: {
                            cancel: {
                                label: 'Đóng',
                                className: 'btn-secondary'
                            }
                        }
                    });
                }
            });
        }
        $(document).on('click', '#icon-view', function () {
            var id = $(this).data('id');
            viewFeedbackAjax(id);
        })

        $(document).on('click', '#status-slide', function () {
            var id = $(this).data('id');
            changeStatus(id);
        });

        loadData();


    });
</script>
<script src="~/js/mustache.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootbox@6.0.0/dist/bootbox.min.js"></script>
<script src="~/RatingStar/star-rating.js"></script>
<script>
    var stars = new StarRating('.star-rating');
</script>