﻿@model List<OrderDetail>
@{
    var user = ViewBag.userSession as SonicStore.Areas.SonicStore.Models.User;
    var address = ViewBag.addressUser as UserAddress;
    var totalPrice = ViewBag.totalPrice != null ? (decimal)ViewBag.totalPrice : 0m;
}
<link href="~/css/Checkout/CheckoutList.css" rel="stylesheet" />

<style>
    body {
        display: flex;
        flex-direction: column;
    }

    body {
        min-height: 100vh;
        margin: 0;
    }

    main {
        flex: 1;
    }
</style>
<main>
    <section>
        @if(Model == null)
        {
            <div>
                <h1 class="empty-list">Không có sản phẩm nào để thanh toán</h1>
                <div style="text-align:center;">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="512" height="512" x="0" y="0" viewBox="0 0 64 64" style="enable-background:new 0 0 512 512" xml:space="preserve" fill-rule="evenodd" class=""><g><linearGradient id="a"><stop offset="0" stop-color="#cadcf0"></stop><stop offset="1" stop-color="#a4bbdb"></stop></linearGradient><linearGradient xlink:href="#a" id="d" x1="0" x2="1" y1="0" y2="0" gradientTransform="matrix(40 0 0 25.912 12 48.573)" gradientUnits="userSpaceOnUse"></linearGradient><linearGradient id="b"><stop offset="0" stop-color="#a4bbdb"></stop><stop offset="1" stop-color="#8da3be"></stop></linearGradient><linearGradient xlink:href="#b" id="e" x1="0" x2="1" y1="0" y2="0" gradientTransform="matrix(20.086 0 0 25.912 31.914 48.573)" gradientUnits="userSpaceOnUse"></linearGradient><linearGradient id="c"><stop offset="0" stop-color="#e9f3fc"></stop><stop offset="1" stop-color="#cadcf0"></stop></linearGradient><linearGradient xlink:href="#c" id="f" x1="0" x2="1" y1="0" y2=".337" gradientTransform="matrix(14.679 14.768 -21.492 8.973 12.133 35.609)" gradientUnits="userSpaceOnUse"></linearGradient><linearGradient xlink:href="#c" id="g" x1="0" x2="1" y1="0" y2=".227" gradientTransform="matrix(25.743 1.634 -3.837 17.203 32.081 42.038)" gradientUnits="userSpaceOnUse"></linearGradient><linearGradient xlink:href="#c" id="h" x1="0" x2="1" y1="0" y2="-.619" gradientTransform="matrix(20.007 -6.501 5.236 7.762 9.382 31.736)" gradientUnits="userSpaceOnUse"></linearGradient><linearGradient xlink:href="#c" id="i" x1="0" x2="1" y1="0" y2=".429" gradientTransform="matrix(15.249 13.945 -20.61 7.651 37.354 21.357)" gradientUnits="userSpaceOnUse"></linearGradient><linearGradient xlink:href="#a" id="j" x1="0" x2="1" y1="0" y2="0" gradientTransform="matrix(40 0 0 13 12 35.606)" gradientUnits="userSpaceOnUse"></linearGradient><linearGradient xlink:href="#b" id="k" x1="0" x2="1" y1="0" y2="0" gradientTransform="scale(16.159) rotate(88.472 .138 1.974)" gradientUnits="userSpaceOnUse"></linearGradient><linearGradient id="l" x1="0" x2="1" y1="0" y2="0" gradientTransform="rotate(49.719 3.124 26.068) scale(30.507)" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#559aff"></stop><stop offset="1" stop-color="#2e69ef"></stop></linearGradient><linearGradient xlink:href="#c" id="m" x1="0" x2="1" y1="0" y2="0" gradientTransform="matrix(6.695 0 0 4.448 30.933 4.607)" gradientUnits="userSpaceOnUse"></linearGradient><linearGradient xlink:href="#c" id="n" x1="0" x2="1" y1="0" y2="0" gradientTransform="matrix(6.695 0 0 -4.448 30.933 10.607)" gradientUnits="userSpaceOnUse"></linearGradient><path fill="url(#d)" d="M52 35.617H12v18.512a2 2 0 0 0 1.425 1.916l18 5.4a2.01 2.01 0 0 0 1.15 0l18-5.4A2 2 0 0 0 52 54.129V35.617z" opacity="1" data-original="url(#d)" class=""></path><path fill="url(#e)" d="M52 35.617H32s-.194 25.912 0 25.912.387-.028.575-.084l18-5.4A2 2 0 0 0 52 54.129V35.617z" opacity="1" data-original="url(#e)" class=""></path><path fill="url(#f)" d="m32 42.106-20-6.489-5.075 7.524a1 1 0 0 0 .52 1.511l17.995 5.846a1 1 0 0 0 1.137-.39L32 42.106z" opacity="1" data-original="url(#f)" class=""></path><path fill="url(#g)" d="m52 35.617-20 6.489 5.423 8.002a1 1 0 0 0 1.137.39l17.995-5.846a1 1 0 0 0 .52-1.511L52 35.617z" opacity="1" data-original="url(#g)" class=""></path><path fill="url(#h)" d="M27.159 21.986a1 1 0 0 0-1.136-.388L8.027 27.445a.998.998 0 0 0-.52 1.51L12 35.617l20-6.511-4.841-7.12z" opacity="1" data-original="url(#h)" class=""></path><path fill="url(#i)" d="M56.493 28.955a1 1 0 0 0-.52-1.51l-17.996-5.847a1 1 0 0 0-1.136.388L32 29.106l20 6.511 4.493-6.662z" opacity="1" data-original="url(#i)" class=""></path><path fill="url(#j)" d="m52 35.617-20-6.511-20 6.511 20 6.489z" opacity="1" data-original="url(#j)" class=""></path><path fill="url(#k)" d="M32 42.106v-13l-20 6.511z" opacity="1" data-original="url(#k)" class=""></path><g fill="url(#l)"><path d="M27.982 31.978a8.757 8.757 0 0 1-1.124-.868 1 1 0 0 0-1.352 1.473c.409.376.87.734 1.382 1.069a1 1 0 0 0 1.094-1.674zM24.866 28.906a8.689 8.689 0 0 1-.754-1.213 1 1 0 0 0-1.783.907c.254.498.562.997.927 1.492a1 1 0 0 0 1.61-1.186zM23.404 24.825c.01-.403.069-.794.177-1.169a1 1 0 0 0-1.923-.551 6.71 6.71 0 0 0-.254 1.67 1 1 0 0 0 2 .05zM24.942 21.485c.257-.238.545-.458.86-.657a1 1 0 0 0-1.067-1.692 7.855 7.855 0 0 0-1.152.882 1 1 0 0 0 1.359 1.467zM28.661 19.76a11.338 11.338 0 0 1 1.598-.176 1.001 1.001 0 0 0-.085-1.999c-.66.028-1.286.099-1.877.208a1 1 0 0 0 .364 1.967zM33.873 19.701c.853.01 1.647-.02 2.384-.085a1 1 0 0 0-.177-1.992c-.675.059-1.402.087-2.184.077a1 1 0 0 0-.023 2zM39.544 19.003c.99-.303 1.826-.691 2.526-1.136a1 1 0 0 0-1.075-1.687 8.302 8.302 0 0 1-2.036.91 1 1 0 0 0 .585 1.913zM44.634 15.068a6.21 6.21 0 0 0 .607-3.003 1 1 0 0 0-1.998.093 4.215 4.215 0 0 1-.41 2.04 1.001 1.001 0 0 0 1.801.87zM43.997 8.529c-.729-.985-1.718-1.671-2.796-1.892a1.001 1.001 0 0 0-.402 1.96c.622.127 1.17.554 1.591 1.123a1 1 0 1 0 1.607-1.191z" fill="" opacity="1"></path></g><path fill="url(#m)" d="M30.933 6.831c1.082-6.127 10.459-5.731 5 0z" opacity="1" data-original="url(#m)"></path><path fill="url(#n)" d="M30.933 8.383c1.082 6.126 10.459 5.731 5 0z" opacity="1" data-original="url(#n)"></path><path fill="url(#l)" d="M30.843 8.617h6.696a1 1 0 0 0 0-2h-6.696a1.001 1.001 0 0 0 0 2z" opacity="1" data-original="url(#l)"></path></g></svg>
                </div>
            </div>
        }
        else
        {
            <div class="grids">
                <div class="g-left">
                 <div class="g-row-left">

                    <div class="choose-deliver-text">
                        Chọn hình thức giao hàng
                    </div>
                    <div class="default-delivery">
                        <div class="radio-contain">
                            <input type="radio" name="name" value="" id="radio1" checked />
                            <label for="radio1" class="radio-fake"></label>
                        </div>

                        <div class="deliver-type">Giao tiết kiệm</div>
                        <div class="free-deliver-text">Free</div>
                        <img src="https://salt.tikicdn.com/ts/upload/05/9e/d8/f13e86df128f19d197397e44924f9616.png" alt="Alternate Text" />
                    </div>
                    <div class="list-checkout-item">
                        <div class="package-title">
                            <div>
                                <img width="24" height="24" alt="icon" src="https://salt.tikicdn.com/ts/upload/ad/b7/93/7094a85d0b6d299f30ed89b03511deb9.png">
                            </div>
                            <div>
                                Gói : trước @(DateTime.Now.AddHours(5).ToShortTimeString()) 
                            </div>
                        </div>
                        <div class="grid-contain-item">
                            <div class="grid-item">
                                    @foreach(var item in Model)
                                    {
                                        @* item *@
                                        <div class="item-contain">
                                        <div class="p-img">
                                            <img src="@item.Storage.Product.Image" alt="icon" width="48" height="48" >
                                        </div>
                                        <div class="p-info">
                                            <span class="p-name">
                                                    @item.Storage.Product.Name
                                            </span>
                                            <div class="p-quantity-price">
                                                <div class="p-quantity">SL: x <span>@item.Quantity</span></div>
                                                    <div class="p-price js-format-price" data-price="@item.Storage.SalePrice">@item.Storage.SalePrice</div>
                                            </div>
                                       
                                        </div>
                                    </div>
                                     @* item  *@
                                        
                                    }
                            
                            </div>
                            <div class="grid-delivery">
                                <svg class="fulfillment-icon" width="24" height="24" style="margin-right: 5px;" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M3 4.5C3 4.08579 3.33579 3.75 3.75 3.75H10.5C10.9142 3.75 11.25 4.08579 11.25 4.5V6.75H16.5C16.8442 6.75 17.1441 6.98422 17.2276 7.3181L17.8939 9.98345L20.5854 11.3292C20.8395 11.4562 21 11.7159 21 12V16.5C21 16.9142 20.6642 17.25 20.25 17.25H17.25C17.25 18.9069 15.9069 20.25 14.25 20.25C12.5931 20.25 11.25 18.9069 11.25 17.25H10.5C10.0858 17.25 9.75 16.9142 9.75 16.5V5.25H3.75C3.33579 5.25 3 4.91421 3 4.5ZM12.8306 16.7635C12.834 16.7546 12.8372 16.7455 12.8402 16.7364C13.0499 16.1609 13.602 15.75 14.25 15.75C14.898 15.75 15.4501 16.1609 15.6598 16.7364C15.6628 16.7455 15.666 16.7546 15.6694 16.7635C15.7216 16.9161 15.75 17.0797 15.75 17.25C15.75 18.0784 15.0784 18.75 14.25 18.75C13.4216 18.75 12.75 18.0784 12.75 17.25C12.75 17.0797 12.7784 16.9161 12.8306 16.7635ZM16.8487 15.75C16.3299 14.8533 15.3604 14.25 14.25 14.25C13.1396 14.25 12.1701 14.8533 11.6513 15.75H11.25V8.25H15.9144L16.5224 10.6819C16.5755 10.8943 16.7188 11.0729 16.9146 11.1708L19.5 12.4635V15.75H16.8487ZM3 8.25C3 7.83579 3.33579 7.5 3.75 7.5H7.5C7.91421 7.5 8.25 7.83579 8.25 8.25C8.25 8.66421 7.91421 9 7.5 9H3.75C3.33579 9 3 8.66421 3 8.25ZM13.5 9C13.9142 9 14.25 9.33579 14.25 9.75V10.5H15C15.4142 10.5 15.75 10.8358 15.75 11.25C15.75 11.6642 15.4142 12 15 12H13.5C13.0858 12 12.75 11.6642 12.75 11.25V9.75C12.75 9.33579 13.0858 9 13.5 9ZM4.5 12C4.5 11.5858 4.83579 11.25 5.25 11.25H7.5C7.91421 11.25 8.25 11.5858 8.25 12C8.25 12.4142 7.91421 12.75 7.5 12.75H5.25C4.83579 12.75 4.5 12.4142 4.5 12ZM6 15.75C6 15.3358 6.33579 15 6.75 15H7.5C7.91421 15 8.25 15.3358 8.25 15.75C8.25 16.1642 7.91421 16.5 7.5 16.5H6.75C6.33579 16.5 6 16.1642 6 15.75Z" fill="#38383D"></path>
                                </svg>
                                <div><p class="fulfillment-text">Được giao bởi Sonic Smart Logistics (giao từ Hà Nội)</p><p class="fulfillment-text fulfillment-text--warning"></p></div>
                            </div>
                        </div>
                    </div>
                  </div>
                  <div class="choose-payment-method">
                        <div class="choose-payment-text">Chọn hình thức thanh toán</div>
                        @* điền controller với action vào đây để nhận về type *@
                        <form id="payment-form" asp-controller="Checkout" asp-action="CheckOutVNPAY" method="post">
                            <div class="radio-contain">
                                <input type="radio" name="payment" value="cod" id="radio2"/>
                                <label for="radio2" class="radio-fake1"></label>
                                <img class="method-icon" src="https://salt.tikicdn.com/ts/upload/92/b2/78/1b3b9cda5208b323eb9ec56b84c7eb87.png" width="32" height="32" alt="icon">
                                <div class="deliver-type" style="margin-left:15px;">Thanh toán tiền mặt</div>
                            </div>
                            <div class="radio-contain">
                                <input type="radio" name="payment" value="vnpay" id="radio3" />
                                <label for="radio3" class="radio-fake1"></label>
                                <img class="method-icon" src="https://salt.tikicdn.com/ts/upload/77/6a/df/a35cb9c62b9215dbc6d334a77cda4327.png" width="32" height="32" alt="icon">
                                <div class="deliver-type" style="margin-left:15px;">Thanh toán tiền mặt</div>
                            </div>
                        </form>
                    </div>
                  </div>
                <div class="g-right">
                    <div class="headingCart1">
                        <div class="contain-head-delivery">
                            <div>
                                <h3>Giao tới</h3>
                            </div>
                            <div>
                                <a asp-controller="Cart" asp-action="CartAdressScreen">
                                    Thay đổi
                                </a>
                            </div>
                        </div>
                        <div class="customer-name">
                            <span class="name">@user.FullName</span>
                            <i></i>
                            <span class="phone">@user.Phone</span>
                        </div>
                        <div class="customer-address">
                            <p>
                                <span class="address__type address__type--home">Nhà</span>
                                @address.User_Address
                            </p>
                        </div>
                    </div>
                    <div class="headingCart2">
                        <div class="price-Provisional">
                            <div class="name" style="color: rgb(96 96 103);">
                                Tạm tính
                            </div>
                            <div class="price"><span class="js-format-price" data-price="@totalPrice">@totalPrice</span></div>
                        </div>
                        <div class="price-discount">
                            <div class="name" style="color: rgb(96 96 103);">Phí vận chuyển</div>
                            <div class="price"><span>0</span>₫</div>
                        </div>
                        <div class="total-price">
                            <div class="fund" >Tổng tiền</div>
                            <div class="price-final js-format-price" data-price="@totalPrice">@totalPrice</div>
                        </div>
                    </div>
                    <div>

                        <div style="padding-right: 0;">
                            <button class="btn-cart">Thanh toán</button>
                        </div>

                    </div>
                </div>
                </div>

        }
    </section>
</main>
<script>
    $(document).ready(function () {
        sessionStorage.setItem('previousPage', window.location.href);
        var formatter = new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' });
        var priceTags = document.querySelectorAll('.js-format-price');
        priceTags.forEach(tag => {
            var price = tag.getAttribute('data-price');
            var formattedPrice = formatter.format(price);
            tag.textContent = formattedPrice;
        });
        $(document).on('click', '.btn-cart', function () {
            if (!$('input[name="payment"]:checked').val()) {
                Swal.fire({
                    title: "Chọn hình thức thanh toán",
                    text: "Vui lòng chọn hình thức thanh toán!",
                    icon: "warning"
                });
            } else {
                if ($('input[name="payment"]:checked').val() == 'vnpay') {
                    if (@totalPrice > 100000000) {
                        Swal.fire({
                            title: "Tổng tiền vượt mức quy định",
                            text: "Thanh toán trực tuyến tối đa 100.000.000₫",
                            icon: "warning"
                        });
                    }
                    else {
                        $('#payment-form').submit();
                    }
                }
                else {
                    $('#payment-form').submit();
                }
            }
        })
    });

</script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
