﻿@{
    string loi = TempData["message"] as string ;
}
<link href="~/css/Checkout/StatusOrder.css" rel="stylesheet" />
<style>
	body {
		display: flex;
		flex-direction: column;
	}

	body {
		min-height: 100vh;
		margin: 0;
	}

	main {
		flex: 1;
	}
	main{
		background-color: #f2f4f5;
	}
</style>
<main>
	<section>
		<div class="contain-mess">
			<div class="circle">
				<div class="tick-icon">
					<svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="30" height="60" x="0" y="0" viewBox="0 0 128 128" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><path fill="#ee404c" d="M57.362 26.54 20.1 91.075a7.666 7.666 0 0 0 6.639 11.5h74.518a7.666 7.666 0 0 0 6.639-11.5L70.638 26.54a7.665 7.665 0 0 0-13.276 0z" opacity="1" data-original="#ee404c" class=""></path><g fill="#fff7ed"><rect width="9.638" height="29.377" x="59.181" y="46.444" rx="4.333" fill="#fff7ed" opacity="1" data-original="#fff7ed"></rect><circle cx="64" cy="87.428" r="4.819" fill="#fff7ed" opacity="1" data-original="#fff7ed"></circle></g></g></svg>
				</div>
			</div>
			<div class="mess">
				<div class="success-mess">@loi</div>
				<div class="thanks-mess">Đơn hàng không được thanh toán thành công</div>
			</div>
			<div class="check-status">
				<a>
					<button>
						Quay lại giỏ hàng 
					</button>
				</a>
			</div>
		</div>
	</section>
</main>