﻿@model List<SonicStore.Areas.SonicStore.Models.ProductNews>
@{
    Layout = null;
    int currentPage = ViewBag.CurrentPage ?? 1;
    int totalPages = ViewBag.TotalPages ?? 1;
}

<!DOCTYPE html>
<html lang="en-US" prefix="og: https://ogp.me/ns#">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Tin tức</title>
    <link rel="stylesheet" id="thenextmag_vendors-css" href="https://vatvostudio.vn/wp-content/themes/the-next-mag/css/vendors.css?ver=6.5.5" type="text/css" media="all" />
    <link rel="stylesheet" id="thenextmag-style-css" href="https://vatvostudio.vn/wp-content/themes/the-next-mag/css/style.css?ver=6.5.5" type="text/css" media="all" />
</head>
<body class="archive category category-tin-tuc-moi-nhat category-152 wp-custom-logo header-4 elementor-default elementor-kit-3849">
    <div class="site-wrapper">
        <div class="site-content">
            <div class="mnmd-block mnmd-block--fullwidth mnmd-block--contiguous mnmd-mosaic mnmd-mosaic--has-shadow mnmd-mosaic--gutter-10 has-overlap-background">
                <div class="overlap-background background-svg-pattern background-svg-pattern--solid-color" style="height:200px">
                    <div class="background-overlay cat-theme-bg cat-152" s></div>
                </div>
                <div class="container container--wide">
                    <div class="page-heading page-heading--center page-heading--inverse">
                        <h2 class="page-heading__title">Tin tức</h2>
                        <div class="page-heading__subtitle">
                            <h5>
                                Nơi tổng hợp những thông tin nóng hổi nhất về thế giới Điện
                                thoại, Máy tính bảng, PC, Laptop và những thiết bị
                                công nghệ mới nhất.
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
            <!-- .container -->
        </div>

        <div id="tnm_posts_listing_list_no_sidebar-667d2a2a099d2" class="mnmd-block mnmd-block--fullwidth" style="margin-top:50px">
            <div class="container container--narrow">
                <div class="posts-list list-unstyled list-space-xl">
                    @foreach (var news in Model)
                    {
                        if (news.Status == true)
                        {
                            <div class="list-item">
                                <article class="post post--horizontal post--horizontal-sm">
                                    <div class="post__thumb">
                                        <a asp-controller="TechNewsDetail" asp-action="TechNewsDetailScreen" asp-route-id="@news.Id">
                                            <img src="@news.ImageThumbnail" alt="" />
                                        </a>
                                    </div>
                                    <div class="post__text">
                                        <h3 class="post__title typescale-3">
                                            <a asp-controller="TechNewsDetail" asp-action="TechNewsDetailScreen" asp-route-id="@news.Id">
                                                @news.Title
                                            </a>
                                        </h3>

                                        <div class="post__meta">
                                            <h6 class="entry-author" style="font-size: 18px;">
                                                @news.CreateByNavigation.FullName <time class="time published" style="font-size: 18px;" datetime="@news.CreateAt" title="@news.CreateAt"> - @news.CreateAt?.ToString("dd/MM/yyyy")</time>
                                            </h6>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        }
                    }
                </div>
                <div class="mnmd-pagination">
                    <h4 class="mnmd-pagination__title sr-only">Posts navigation</h4>
                    <div class="mnmd-pagination__links text-center">
                        @if (currentPage > 1)
                        {
                            <a href="@Url.Action("TechNewsScreen", new { page = currentPage - 1 })" class="mnmd-pagination__item" title="Previous">Previous</a>
                        }

                        @for (int i = 1; i <= totalPages; i++)
                        {
                            if (i == currentPage)
                            {
                                <span class="mnmd-pagination__item mnmd-pagination__item-current">@i</span>
                            }
                            else
                            {
                                <a href="@Url.Action("TechNewsScreen", new { page = i })" class="mnmd-pagination__item" title="@i">@i</a>
                            }
                        }

                        @if (currentPage < totalPages)
                        {
                            <a href="@Url.Action("TechNewsScreen", new { page = currentPage + 1 })" class="mnmd-pagination__item" title="Next">Next</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="site-footer footer-1 " style="margin-top:50px">
        <div class="site-footer__section site-footer__section--seperated">
            <div class="background-img gradient-5"></div>
            <div class="container">
                <div class="site-footer__section-inner">
                    <div class="subscribe-form subscribe-form--horizontal text-center max-width-sm"></div>
                </div>
            </div>
        </div>
    </footer>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var dateElement = document.querySelector('.time.published');
            var rawDate = dateElement.getAttribute('datetime');

            var date = new Date(rawDate);

            var day = date.getDate();
            var month = date.getMonth() + 1; // Tháng trong JavaScript bắt đầu từ 0
            var year = date.getFullYear();

            var formattedDate = day + '/' + month + '/' + year;

            document.getElementById('formattedDate').textContent = formattedDate;
        });
    </script>
</body>
</html>
<script>
    sessionStorage.setItem('previousPageProfile', window.location.href);
</script>