﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    <link href="https://sb-admin-pro.startbootstrap.com/css/styles.css" rel="stylesheet" />
    <script data-search-pseudo-elements="" defer="" src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/js/all.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.29.0/feather.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/izitoast@1.4.0/dist/js/iziToast.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/izitoast@1.4.0/dist/css/iziToast.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/izimodal/1.6.1/js/iziModal.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/izimodal/1.6.1/css/iziModal.css" rel="stylesheet" />
    <script src="https://code.jquery.com/ui/1.13.3/jquery-ui.js"></script>
    <link rel="stylesheet" href=" https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css">


    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.15.2/js/selectize.min.js"
            integrity="sha512-IOebNkvA/HZjMM7MxL0NYeLYEalloZ8ckak+NDtOViP7oiYzG5vn6WVXyrJDiJPhl4yRdmNAG49iuLmhkUdVsQ=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>
    @* <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> *@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.15.2/css/selectize.bootstrap5.min.css">
    <script>
        $(document).ready(function () {
            $(function () {
                $("#dob").datepicker();
            });

        });
    </script>
    <style>
        .sb-customizer-toggler {
            display: none !important;
        }

        .dropdown-notifications-item.active {
            background-color: #e0e5ec;
        }

        tbody td:last-child {
            text-align: center;
        }

        .dropdown-notifications {
            position: relative;
        }

        .icon-button__badge {
            position: absolute;
            top: 7px;
            right: 6px;
            width: 14px;
            height: 14px;
            background: red;
            color: #ffffff;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            font-size: 8px;
        }

        .bg-mess {
            background-color: #e0e5ec;
        }

        input[type="file"] {
            position: relative;
        }

            input[type="file"]::file-selector-button {
                width: 136px;
                color: transparent;
            }

            /* Faked label styles and icon */
            input[type="file"]::before {
                position: absolute;
                pointer-events: none;
                top: 12px;
                left: 20px;
                height: 20px;
                width: 20px;
                content: "";
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%230964B0'%3E%3Cpath d='M18 15v3H6v-3H4v3c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2v-3h-2zM7 9l1.41 1.41L11 7.83V16h2V7.83l2.59 2.58L17 9l-5-5-5 5z'/%3E%3C/svg%3E");
            }

            input[type="file"]::after {
                position: absolute;
                pointer-events: none;
                top: 17px;
                left: 47px;
                color: #0964b0;
                content: "Thêm ảnh";
            }

            /* ------- From Step 1 ------- */

            /* file upload button */
            input[type="file"]::file-selector-button {
                border-radius: 4px;
                padding: 0 16px;
                height: 40px;
                cursor: pointer;
                background-color: white;
                border: 1px solid rgba(0, 0, 0, 0.16);
                box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
                margin-right: 16px;
                transition: background-color 200ms;
            }

                /* file upload button hover state */
                input[type="file"]::file-selector-button:hover {
                    background-color: #f3f4f6;
                }

                /* file upload button active state */
                input[type="file"]::file-selector-button:active {
                    background-color: #e5e7eb;
                }

    </style>
    <link href="~/css/PageDesign/AdminDashboard.css" rel="stylesheet" />
</head>
<body class="nav-fixed">
    <partial name="_NavHeaderDashboard"></partial>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <partial name="_NavLeftsideAdmin"></partial>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
                    <div class="container-fluid px-4">
                        <div class="page-header-content">
                            <div class="row align-items-center justify-content-between pt-3">
                                <div class="col-auto mb-3">
                                    <h1 class="page-header-title">
                                        <div class="page-header-icon"></div>
                                        Danh sách slider
                                    </h1>
                                </div>
                                <div class="col-12 col-xl-auto mb-3">
                                    <a class="btn btn-sm btn-light text-primary" id="add-slider">
                                        Thêm slider
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
                <!-- Main page content-->
                <div class="container-fluid px-4">
                    <div class="card">
                        <div class="card-body">

                            <table id="datatablesSimple">
                                <thead>
                                    <tr>
                                        <th>Tiêu đề</th>
                                        <th>Nguời thêm</th>
                                        <th>Đường dẫn</th>
                                        <th>Thay đổi trạng thái</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Tiêu đề</th>
                                        <th>Nguời thêm</th>
                                        <th>Đường dẫn</th>
                                        <th>Thay đổi trạng thái</th>
                                    </tr>
                                </tfoot>
                                <tbody id="dataBody">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>

    <script id="data-template" type="x-tmpl-mustache">
        <tr data-id="{{id}}">
                     <td>
                         {{title}}
                    </td>
                   <td>{{fullName}}</td>
                   <td><a href="#">{{backlink}}</a></td>
                          <td>
                                            <a style="
                                                                margin-right: 10px;
                                                            ">

                                            <div class="pretty p-switch">
                                                <input data-id={{id}} id="status-slide" type="checkbox" {{#isChecked}}checked{{/isChecked}}/>
                                                <div class="state p-primary">
                                                    <label></label>
                                                </div>
                                            </div>
                                    </a>
                                    <a class="btn btn-datatable btn-icon btn-transparent-dark me-2" id="icon-edit" data-id={{id}} data-status="{{status}}"><i class="fa-regular fa-pen-to-square"></i></a>
                                    <a class="btn btn-datatable btn-icon btn-transparent-dark me-2" id="icon-delete" data-id={{id}} ><i class="fa-solid fa-trash"></i></a>
                         </td>
        </tr>
    </script>
    <script data-cfasync="false" src="https://sb-admin-pro.startbootstrap.com/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="https://sb-admin-pro.startbootstrap.com/js/scripts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
    @* <script src="https://sb-admin-pro.startbootstrap.com/js/datatables/datatables-simple-demo.js"></script> *@

    <script src="https://assets.startbootstrap.com/js/sb-customizer.js"></script>
    <sb-customizer project="sb-admin-pro"></sb-customizer>
    <script>(function () { function c() { var b = a.contentDocument || a.contentWindow.document; if (b) { var d = b.createElement('script'); d.innerHTML = "window.__CF$cv$params={r:'898e04802d408b45',t:'MTcxOTI0NTczNy4wMDAwMDA='};var a=document.createElement('script');a.nonce='';a.src='/cdn-cgi/challenge-platform/scripts/jsd/main.js';document.getElementsByTagName('head')[0].appendChild(a);"; b.getElementsByTagName('head')[0].appendChild(d) } } if (document.body) { var a = document.createElement('iframe'); a.height = 1; a.width = 1; a.style.position = 'absolute'; a.style.top = 0; a.style.left = 0; a.style.border = 'none'; a.style.visibility = 'hidden'; document.body.appendChild(a); if ('loading' !== document.readyState) c(); else if (window.addEventListener) document.addEventListener('DOMContentLoaded', c); else { var e = document.onreadystatechange || function () { }; document.onreadystatechange = function (b) { e(b); 'loading' !== document.readyState && (document.onreadystatechange = e, c()) } } } })();</script>
    <script defer src="https://static.cloudflareinsights.com/beacon.min.js/vcd15cbe7772f49c399c6a5babf22c1241717689176015" integrity="sha512-ZpsOmlRQV6y907TI0dKBHq9Md29nnaEIPlkf84rnaERnq6zvWvPUqr2ft8M1aS28oN72PdrCzSjY4U6VaAw1EQ==" data-cf-beacon='{"rayId":"898e04802d408b45","version":"2024.4.1","token":"6e2c2575ac8f44ed824cef7899ba8463"}' crossorigin="anonymous"></script>
</body>
</html>
<script>

    $(document).ready(function () {
        let dataTable;
        function loadData() {
            $.ajax({
                url: '/loadData-slider',
                type: 'GET',
                dataType: 'json',
                success: function (response) {
                    var data = response.data;
                    var html = '';
                    var template = $('#data-template').html();
                    $.each(data, function (i, item) {
                        html += Mustache.render(template, {
                            id: item.id,
                            title: item.title,
                            backlink: item.backlink,
                            fullName: item.fullName,
                            isChecked: item.status == 'on'
                        });
                    });
                    if (dataTable) {
                        dataTable.destroy();
                    }
                    $('#dataBody').html(html);

                    dataTable = new simpleDatatables.DataTable("#datatablesSimple");

                }
            });
        }
        function changeStatus(id) {
            $.ajax({
                url: '/change-status-slider',
                data: {
                    id: id
                },
                type: 'POST',
                dataType: 'json',
                success: function (response) {
                    if (response.status == 2) {
                        iziToast.error({
                            message: 'Phải có 5 slide được bật',
                        });
                    }
                    else if (response.status == 3) {
                        iziToast.error({
                            message: 'Tối đa 5 slide được bật',
                        });
                        $('#status-slide').prop('checked', false);
                    }
                    else {

                        iziToast.success({
                            message: 'Thay đổi trạng thái thành công!',
                        });
                    }
                }
            });
        }
        function removeSliderAjax(id) {
            $.ajax({
                url: '/remove-slider',
                data: {
                    id: id
                },
                type: 'POST',
                dataType: 'json',
                success: function (response) {
                    loadData();
                    iziToast.success({
                        message: 'Xóa thành công!',
                    });
                }
            });
        }
        function createSlider(title, backlink, file) {
            var title = title;
            var backlink = backlink;
            var image = file;
            var userInput = {
                title: title,
                backlink: backlink,
                image: image
            }
            $.ajax({
                url: '/create-slider',
                data: {
                    strSlider: JSON.stringify(userInput)
                },
                type: 'POST',
                dataType: 'JSON',
                success: function (response) {
                    loadData();
                    iziToast.success({
                        message: 'Thêm thành công!',
                    });
                }
            });
        }
        function editSlider(id, title, backlink, file) {
            var title = title;
            var backlink = backlink;
            var image = file;
            var userInput = {
                title: title,
                backlink: backlink,
                image: image
            }
            $.ajax({
                url: '/edit-slider',
                data: {
                    id,
                    strSlider: JSON.stringify(userInput)
                },
                type: 'POST',
                dataType: 'JSON',
                success: function (response) {
                    loadData();
                    iziToast.success({
                        message: 'Cập nhật thành công!',
                    });
                }
            });
        }
        function viewSliderAjax(id) {
            $.ajax({
                url: '/view-slider',
                data: {
                    id: id
                },
                type: 'POST',
                dataType: 'json',
                success: function (response) {
                    var data = response.data;
                    bootbox.dialog({
                        title: 'Thêm slider',
                        message: `
                                                    <form id="sliderForm">
                                                        <div class="mb-3">
                                                            <label class="small mb-1" for="bootboxInpTitle">Tiêu đề</label>
                                                            <input class="form-control" id="bootboxInpTitle" type="text" placeholder="Nhập tiêu đề" value="${data.title}">
                                                        </div>
                                                        <div class="mb-3">
                                                            <label class="small mb-1" for="bootboxInpBacklink">Đường dẫn</label>
                                                            <input class="form-control" id="bootboxInpBacklink" type="text" placeholder="Nhập đường dẫn" value="${data.backlink}">
                                                        </div>
                                                        <div class="mb-3">
                                                            <label class="small mb-1" for="bootboxInpImg">Hình ảnh</label>
                                                            <input type="file" id="bootboxInpImg" class="form-control" value="${data.image}"/>
                                                            <img src="/images/Slider/${data.image}.png" alt="Current Image" style="max-width: 100%; margin-top: 10px;"/>
                                                        </div>
                                                    </form>
                                                `,
                        buttons: {
                            cancel: {
                                label: 'Hủy',
                                className: 'btn-secondary'
                            },
                            confirm: {
                                label: 'Cập nhật',
                                className: 'btn-primary',
                                callback: function () {
                                    var title = $('#bootboxInpTitle').val();
                                    var backlink = $('#bootboxInpBacklink').val();
                                    var file = $('#bootboxInpImg').val();
                                    var filePath = $('#bootboxInpImg').val();
                                    var fileName = filePath.split('\\').pop();
                                    editSlider(id, title, backlink, fileName);
                                }
                            }
                        }
                    });
                }
            });
        }
        $(document).on('click', '#icon-edit', function () {
            var id = $(this).data('id');
            viewSliderAjax(id);
        })
        $(document).on('click', '#add-slider', function () {
            bootbox.dialog({
                title: 'Thêm slider',
                message: `
                                                    <form id="sliderForm">
                                                        <div class="mb-3">
                                                            <label class="small mb-1" for="inpTitle">Tiêu đề</label>
                                                            <input class="form-control" id="bootboxInpTitle" type="text" placeholder="Nhập tiêu đề" value="">
                                                        </div>
                                                        <div class="mb-3">
                                                            <label class="small mb-1" for="inpBacklink">Đường dẫn</label>
                                                            <input class="form-control" id="bootboxInpBacklink" type="text" placeholder="Nhập đường dẫn" value="">
                                                        </div>
                                                        <div class="mb-3">
                                                            <label class="small mb-1" for="inpImg">Hình ảnh</label>
                                                            <input type="file" id="bootboxInpImg" class="form-control"/>
                                                        </div>
                                                    </form>
                                                `,
                buttons: {
                    cancel: {
                        label: 'Hủy',
                        className: 'btn-secondary'
                    },
                    confirm: {
                        label: 'Thêm slider',
                        className: 'btn-primary',
                        callback: function () {
                            var title = $('#bootboxInpTitle').val();
                            var backlink = $('#bootboxInpBacklink').val();
                            var filePath = $('#bootboxInpImg').val();
                            var fileName = filePath.split('\\').pop();
                            createSlider(title, backlink, fileName);
                        }
                    }
                }
            });
        });
        $(document).on('click', '#status-slide', function () {
            var id = $(this).data('id');
            changeStatus(id);
        });
        $(document).on('click', '#icon-delete', function () {
            var id = $(this).data('id');
            removeSliderAjax(id);
        });

        loadData();


    });
</script>
<script>
    sessionStorage.setItem('previousPageProfile', window.location.href);
</script>
<script src="~/js/mustache.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootbox@6.0.0/dist/bootbox.min.js"></script>