﻿@{
    Layout = "_LayoutSale";
    var list = ViewBag.ListC;
}

<div class="card mb-4">
    <div class="card-header">Thông tin khách hàng</div>
    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
                <tr>
                    <th>Tên khách hàng</th>
                    <th>Email</th>
                    <th>Số điện thoại</th>
                    <th>Trạng thái</th>
                    <th>Hành động</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Tên khách hàng</th>
                    <th>Email</th>
                    <th>Số điện thoại</th>
                    <th>Trạng thái</th>
                    <th>Hành động</th>

                </tr>
            </tfoot>
            <tbody>
                @foreach (var u in list)
                {
                    <tr>
                        <td>@u.FullName</td>

                        @{
                            string mail = "mailto:" + @u.Email;
                        }
                        <td><a href="@mail">@u.Email</a></td>

                        <td>@u.Phone</td>
                        @if (u.Status.Equals("off", StringComparison.OrdinalIgnoreCase))
                        {
                            <th><div class="badge bg-danger text-white rounded-pill">Bị cấm</div></th>
                        }
                        else
                        {
                            <th><div class="badge bg-primary text-white rounded-pill">Bình thường</div></th>
                        }


                        <td>
                            <a asp-controller="DetailCustomerContact" asp-action="DetailCustomerContactScreen" asp-route-id="@u.Id">
                                <button class="btn btn-success">Chi tiết</button>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script>
    // Hiển thị thông báo nếu có
    var statusMessage = @Html.Raw(Json.Serialize(@TempData["Message"]));
    if (statusMessage) {
        alert(statusMessage);
    }
</script>
