﻿@model SonicStore.Areas.SonicStore.Models.ProductNews
@{
    var news = ViewBag.NewsDetail as ProductNews;
    Layout = null;

    var imageUrl = news.ImageThumbnail.StartsWith("http") ? news.ImageThumbnail : Url.Content("~/" + news.ImageThumbnail);

}


<!DOCTYPE html>
<html lang="en-US" prefix="og: https://ogp.me/ns#">
<head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>
        @news.Title
    </title>

    <link rel="stylesheet"
          id="thenextmag_vendors-css"
          href="https://vatvostudio.vn/wp-content/themes/the-next-mag/css/vendors.css?ver=6.5.5"
          type="text/css"
          media="all" />
    <link rel="stylesheet"
          id="thenextmag-style-css"
          href="https://vatvostudio.vn/wp-content/themes/the-next-mag/css/style.css?ver=6.5.5"
          type="text/css"
          media="all" />
</head>
<body class="post-template-default single single-post postid-115516 single-format-standard wp-custom-logo header-4 elementor-default elementor-kit-3849">
    <header class="site-header">
        <div id="mnmd-mobile-header" class="mobile-header visible-xs visible-sm">
            <div class="mobile-header__inner mobile-header__inner--flex">
                <div class="header-branding header-branding--mobile mobile-header__section text-left">
                    <div class="header-logo header-logo--mobile flexbox__item text-left">
                        <a href="https://vatvostudio.vn">
                            <img data-lazyloaded="1"
                                 src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                 data-src="https://vatvostudio.vn/wp-content/uploads/2023/12/vatvostudiovn_logo_2024.png"
                                 alt="logo" /><noscript>
                                <img src="https://vatvostudio.vn/wp-content/uploads/2023/12/vatvostudiovn_logo_2024.png"
                                     alt="logo" />
                            </noscript>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="site-content single-entry single-entry--no-sidebar single-entry--template-2--no-sidebar">
        <div class="mnmd-block mnmd-block--fullwidth mnmd-block--contiguous single-entry-wrap">
            <article class="mnmd-block post--single post-115516 post type-post status-publish format-standard has-post-thumbnail hentry category-tin-tuc-moi-nhat tag-samsung">
                <div class="single-content site-content">
                    <div class="mnmd-block mnmd-block--fullwidth mnmd-block--contiguous single-billboard single-billboard--sm">
                        <div class="background-img background-img--scrim-bottom hidden-xs hidden-sm" style="text-align:center;">
                            <img src="@imageUrl" alt="" style="width:100%;" />
                        </div>


                    </div>
                    <header class="single-header single-header--center">
                        <div class="container container--narrow">
                            <h1 class="entry-title entry-title--lg">
                                @news.Title
                            </h1>

                            <div class="post__meta">
                                <h6 class="entry-author" style="font-size: 18px;">

                                    @news.CreateByNavigation.FullName <time class="time published" style="font-size: 18px;" datetime="@news.CreateAt" title="@news.CreateAt"> - @news.CreateAt?.ToString("dd/MM/yyyy")</time>
                                </h6>

                            </div>
                        </div>
                    </header>
                    <div class="container container--narrow">
                        <div class="single-body single-body--wide entry-content typography-copy">
                            @Html.Raw(news.Content)
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>

    <footer class="site-footer footer-1">
        <div class="site-footer__section site-footer__section--seperated">
            <div class="background-img gradient-5"></div>
            <div class="container">
                <div class="site-footer__section-inner">
                    <div class="subscribe-form subscribe-form--horizontal text-center max-width-sm"></div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
<script>
    sessionStorage.setItem('previousPageProfile', window.location.href);
</script>