﻿@using SonicStore.Areas.SonicStore.Models

@{
    var reviews = (List<ProductFeedback>)(ViewBag.Feedback ?? new List<ProductFeedback>());
    var isPurchased = (bool)(ViewBag.Purchased ?? false);
    var productId = ViewBag?.ProductId ?? 0;
    var star1 = reviews.Count(x => x.Rating == 1);
    var star2 = reviews.Count(x => x.Rating == 2);
    var star3 = reviews.Count(x => x.Rating == 3);
    var star4 = reviews.Count(x => x.Rating == 4);
    var star5 = reviews.Count(x => x.Rating == 5);
    var totalStar = reviews.Count;
    var percentStar = totalStar > 0 ? ((star1 + star2 * 2 + star3 * 3 + star4 * 4 + star5 * 5) / (double)totalStar) : 0;
    var product = ViewBag?.Product;
}
@* <link href="~/css/Feedback/fancybox.css" rel="stylesheet" /> *@
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
@* <link href="https://clickbuy.com.vn/styles/main?v=CJTrCvatxxB94Ob-6HUwGQVD_l3TsKQ-XLXIwP7VjYw1" rel="stylesheet" /> *@

<style>

    .btn {
        display: flex;
        justify-content: center;
        align-items: center;
         
    }

    .comments-add {
        border-radius: 10px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        padding: 20px;
    }

    .feedback-box {
        padding: 10px;
        display: block;
        border: 1px solid rgba(100, 100, 111, 0.2);
        border-radius: 10px;
        margin-bottom: 10px;
    }

    .comments-add__rate .rating.vote i {
        cursor: pointer;
    }

    .comments-add__rate .rating.vote .fas {
        color: gold;
    }

    .fa-star.active {
        color: gold;
    }

    .fa-star {
        color: #ccc;
    }

    .product-comment {
        padding: 20px;
    }

    .form-control {
        margin-bottom: 15px;
        margin-top: 10px;
    }

    textarea.form-control {
        margin-bottom: 15px;
        border-radius: 10px;
        width: 100%;
        height: 125px;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }


    .progress-bar {
        height: 10px;
        width: 0;
        background-color: red;
    }

    .progress {
        background-color: #e9ecef;
        border-radius: 5px;
        overflow: hidden;
        width: 100%;
        height: 10px;
        margin-bottom: 5px;
        margin-top: 10px;
    }

</style>

@if (productId != 0 && product != null)
{
    <input type="hidden" id="proID" value="@productId" />
    <div class="product-comment">
        <h6>Xem phản hồi của sản phẩm: @product?.Name </h6>
        <div class="comments" data-type="products" data-type_id="159319">
            <div class="block-rate">
                <div class="block-rate__star">
                    <span class="avg">
                        <span>@(percentStar.ToString("0.0"))</span><span>/5</span>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"
                             fill="rgb(255, 202, 63)" height="17px" width="17px">
                            <path d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z">
                            </path>
                        </svg>
                    </span>
                    <span>(@totalStar đánh giá và nhận xét)</span>
                </div>
                <div class="block-rate__chart">
                    <ul class="chart">
                        <li class="item">
                            <div class="left">
                                <span class="text-primary">
                                    @for (int i = 0; i < 5; i++)
                                    {
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"
                                             fill="rgb(255, 202, 63)" height="17px" width="17px">
                                            <path d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z">
                                            </path>
                                        </svg>
                                    }
                                </span>
                                <span class="number">@star5 đánh giá </span>
                                
                            </div>
                            <span class="progress">
                                <span class="progress-bar" role="progressbar" aria-valuenow="50"
                                      aria-valuemin="0" aria-valuemax="100"
                                      style="max-width: 100%; width: @((star5 / (double)totalStar) * 100)%"></span>
                            </span>

                        </li>
                        <li class="item">
                            <div class="left">
                                <span class="text-primary">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"
                                         fill="rgb(255, 202, 63)" height="17px" width="17px">
                                        <path d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z">
                                        </path>
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"
                                         fill="rgb(255, 202, 63)" height="17px" width="17px">
                                        <path d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z">
                                        </path>
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"
                                         fill="rgb(255, 202, 63)" height="17px" width="17px">
                                        <path d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z">
                                        </path>
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"
                                         fill="rgb(255, 202, 63)" height="17px" width="17px">
                                        <path d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z">
                                        </path>
                                    </svg>
                                    <i class="far fa-star" data-value="4"></i>
                                </span>  <span class="number">@star4 đánh giá</span>
                            </div>
                            <span class="progress">
                                <span class="progress-bar" role="progressbar" aria-valuenow="50"
                                      aria-valuemin="0" aria-valuemax="25"
                                      style="max-width: 100%; width: @((star4/(double)totalStar)*100)%"></span>
                            </span>
                        </li>
                        <li class="item">
                            <div class="left">
                                <span class="text-primary">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"
                                         fill="rgb(255, 202, 63)" height="17px" width="17px">
                                        <path d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z">
                                        </path>
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"
                                         fill="rgb(255, 202, 63)" height="17px" width="17px">
                                        <path d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z">
                                        </path>
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"
                                         fill="rgb(255, 202, 63)" height="17px" width="17px">
                                        <path d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z">
                                        </path>
                                    </svg>
                                    <i class="far fa-star" data-value="4"></i>
                                    <i class="far fa-star" data-value="4"></i>

                                </span> <span class="number">@star3 đánh giá</span>
                            </div>
                            <span class="progress">
                                <span class="progress-bar" role="progressbar" aria-valuenow="50"
                                      aria-valuemin="0" aria-valuemax="100"
                                      style="max-width: 100%; width: @((star3/(double)totalStar)*100)%"></span>
                            </span>
                        </li>
                        <li class="item">
                            <div class="left">
                                <span class="text-primary">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"
                                         fill="rgb(255, 202, 63)" height="17px" width="17px">
                                        <path d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z">
                                        </path>
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"
                                         fill="rgb(255, 202, 63)" height="17px" width="17px">
                                        <path d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z">
                                        </path>
                                    </svg>
                                    <i class="far fa-star" data-value="4"></i>
                                    <i class="far fa-star" data-value="4"></i>
                                    <i class="far fa-star" data-value="4"></i>

                                </span> <span class="number">@star2 đánh giá</span>
                            </div>
                            <span class="progress">
                                <span class="progress-bar" role="progressbar" aria-valuenow="50"
                                      aria-valuemin="0" aria-valuemax="100"
                                      style="max-width: 100%; width: @((star2/(double)totalStar)*100)%"></span>
                            </span>
                        </li>
                        <li class="item">
                            <div class="left">
                                <span class="text-primary">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"
                                         fill="rgb(255, 202, 63)" height="17px" width="17px">
                                        <path d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z">
                                        </path>
                                    </svg>
                                    <i class="far fa-star" data-value="4"></i>
                                    <i class="far fa-star" data-value="4"></i>
                                    <i class="far fa-star" data-value="4"></i>
                                    <i class="far fa-star" data-value="4"></i>
                                </span> <span class="number">@star1 đánh giá</span>
                            </div>
                            <span class="progress">
                                <span class="progress-bar" role="progressbar" aria-valuenow="50"
                                      aria-valuemin="0" aria-valuemax="100"
                                      style="max-width: 100%; width: @((star1/(double)totalStar)*100)%"></span>
                            </span>

                        </li>
                    </ul>
                </div>
            </div>
            <div class="comments-content ">
                <div class="comments-list list"></div>
                <div class="clearfix"></div>
            </div>
            @if (reviews?.Count > 0)
            {
                <div class="comments-loading my-2">
                    
                </div>
                <div class="comments-loading__box1">
                    <h6>Others saying about the product:</h6>
                    <div class="col-md-12 overflow-auto" id="reviewList" style="max-height: 260px;">
                        @foreach (var review in reviews)
                        {
                            <div class="feedback-box">
                                <h6><i class="fa fa-user-circle me-2"></i>@review?.User?.FullName</h6>
                                <div class="text-primary mb-2">
                                    @for (int i = 0; i < 5; i++)
                                    {
                                        if (i < review?.Rating)
                                        {
                                            <small style="color: gold;" class="fas fa-star"></small>
                                        }
                                        else
                                        {
                                            <small class="far fa-star"></small>
                                        }
                                    }
                                </div>
                                <p><i class="fa fa-feather me-2"></i>@review?.Content</p>
                            </div>
                        }
                    </div>
                </div>
            }

            @if (isPurchased)
            {
                <div class="comments-add" id="comments-actions">
                    <span class="fw-bold" style="color: red;">Thông tin cá nhân của bạn sẽ không được hiển thị công khai.  Các trường bắt buộc được đánh dấu    <span class="required" aria-hidden="true">*</span></span>

                    <div class="comments-add__rate">
                        <span class="bold">Đánh giá của bạn<span style="color: red;">*</span></span>
                        <div class="rating vote">
                            <input type="hidden" class="rank" name="rank" value="0">
                            <div class="text-primary" id="ratingStars">
                                <i class="far fa-star" data-value="1"></i>
                                <i class="far fa-star" data-value="2"></i>
                                <i class="far fa-star" data-value="3"></i>
                                <i class="far fa-star" data-value="4"></i>
                                <i class="far fa-star" data-value="5"></i>
                            </div>
                        </div>
                    </div>

                    <div class="comments-add__form">
                        <label for="comment" class="comment bold">
                            Nhận xét của bạn<span style="color: red;">*</span>
                        </label>
                        <textarea class="form-control" name="content"
                                  placeholder="Nhập nhận xét của bạn..." id="messageRating"></textarea>
                        <div>
                            @* <input id="name" name="name" class="form-control" type="text" placeholder="Nhập tên của bạn" size="30" required> *@
                        </div>
                        <div>
                            @* <input id="email" name="email" class="form-control" type="email" placeholder="Nhập email của bạn"
                    size="35" required> *@
                        </div>
                        <div>
                            @* <input id="wp-comment-cookies-consent" class="form-check-input" name="wp-comment-cookies-consent"
                    type="checkbox" value="yes">
                    <label for="wp-comment-cookies-consent">
                    Lưu tên của tôi, email, và trang web trong trình duyệt này cho lần bình luận kế tiếp của tôi.
                    </label> *@
                        </div>
                    </div>
                    <div class="comments-add__action mt-3">
                        <div class="comments-add__action-left">
                            <button type="button" class="btn btn-primary w-25" title="Gửi" data-comments_moreinfo
                                    data-comment_id="0" onclick="addReviewProduct()">
                                Gửi
                            </button>
                        </div>
                        <div class="comments-add__action-right">
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>

}
else
{
    <div style="color:red;">Bạn chưa mua sản phẩm này.</div>
}
<script>

    let starValue = 0;
    document.addEventListener("DOMContentLoaded", function () {
        const stars = document.querySelectorAll("#ratingStars i");

        stars.forEach(star => {
            star.addEventListener("mouseover", function () {
                const value = this.getAttribute("data-value");
                highlightStars(value);
            });

            star.addEventListener("click", function () {
                const value = this.getAttribute("data-value");
                starValue = value;
                highlightStars(value);
            });

            star.addEventListener("mouseout", function () {
                resetStars();
            });
        });

        function highlightStars(value) {
            stars.forEach(star => {
                if (star.getAttribute("data-value") <= value) {
                    star.classList.add("fas");
                    star.classList.remove("far");
                } else {
                    star.classList.add("far");
                    star.classList.remove("fas");
                }
            });
        }

        function resetStars() {
            stars.forEach(star => {
                if (star.getAttribute("data-value") <= starValue) {
                    star.classList.add("fas");
                    star.classList.remove("far");
                } else {
                    star.classList.remove("fas");
                    star.classList.add("far");
                }
            });
        }
    });

    function addReviewProduct() {
        let content = document.querySelector("#messageRating").value
        let rating = starValue;
        let productId = document.querySelector("#proID").value
        if (rating == 0 || content.length == 0 || content === '') {
            alert("Please fill in your comments and rate")
            return
        }
        var url = "/feedback/add?productId=" + productId + "&&rating=" + rating + "&&content=" + content;
        fetch(url, { method: "post" }).then(response => response.json())
            .then(result => {
                console.log(result);
                if (result === false) {
                    alert('Error occurred while adding feedback');
                } else {
                    alert('Create feedback successful');
                    window.location.reload();
                }
            }).catch(error => {
                alert('Error occurred while adding feedback');
            })
    }
</script>