﻿@{
    Layout = "_LayoutSale";
}

@{
    int productid = ViewBag.ProductId + 1;
    var cates = ViewBag.category;
    var brands = ViewBag.brand;
    DateTime date = DateTime.Now;
}
<style>
    .inputfile {
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }

        .inputfile + label {
            cursor: pointer; /* "hand" cursor */
        }

        .inputfile:focus + label {
            outline: 1px dotted #000;
            outline: -webkit-focus-ring-color auto 5px;
        }

    input[type=file]::file-selector-button {
        align-content: center;
        border: none;
        background: #084cdf;
        padding: 10px 20px;
        border-radius: 10px;
        color: #fff;
        cursor: pointer;
        transition: background .2s ease-in-out;
    }

    .form-container {
        max-width: 800px;
        margin: 50px auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .form-group {
        margin-bottom: 1.5rem;
    }

        .form-group label {
            font-weight: bold;
        }

    input[type=file]::file-selector-button:hover {
        background: #0d45a5;
    }



    input[type="file"] {
        position: absolute;
        right: -9999px;
        visibility: hidden;
        opacity: 0;
    }

    .is-invalid {
        border-color: #dc3545;
    }

    label1 {
        position: relative;
        padding: 1rem 3rem;
        background: #eee;
        display: inline-block;
        text-align: center;
        overflow: hidden;
        border-radius: 10px;
        transition: 0.2s all;
    }

        label1:hover {
            background: #0c8fda;
            color: #fff;
            cursor: pointer;
        }

    div.files {
        background: #eee;
        padding: 1rem;
        margin: 1rem 0;
        border-radius: 10px;
    }

        div.files ul {
            list-style: none;
            padding: 0;
            max-height: 150px;
            overflow: auto;
        }

            div.files ul li {
                padding: 0.5rem 0;
                padding-right: 2rem;
                position: relative;
            }

                div.files ul li i {
                    cursor: pointer;
                    position: absolute;
                    top: 50%;
                    right: 0;
                    transform: translateY(-50%);
                }

    div.container {
        width: 100%;
        padding: 0 2rem;
    }

    span.file-size {
        color: #999;
        padding-left: 0.5rem;
    }

    .inputc {
        border-radius: 5px;
        width: 100%;
        padding: 10px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1)
    }

    font-family: Metropolis, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji</style>


<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
<link rel="icon" type="image/png" href="images/icons/favicon.ico" />
<link rel="stylesheet" type="text/css" href="https://colorlib.com/etc/cf/ContactFrom_v1/vendor/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://colorlib.com/etc/cf/ContactFrom_v1/vendor/animate/animate.css">
<link rel="stylesheet" type="text/css" href="https://colorlib.com/etc/cf/ContactFrom_v1/vendor/css-hamburgers/hamburgers.min.css">
<link rel="stylesheet" type="text/css" href="https://colorlib.com/etc/cf/ContactFrom_v1/vendor/select2/select2.min.css">
<link rel="stylesheet" type="text/css" href="https://colorlib.com/etc/cf/ContactFrom_v1/css/util.css">
<link rel="stylesheet" type="text/css" href="https://colorlib.com/etc/cf/ContactFrom_v1/css/main.css">

<meta name="robots" content="noindex, follow">
<div class="">
    <div class="container-contact1">
        <form asp-controller="CreateProductSale" asp-action="CreateProduct" method="post" id="myForm">

            <div class="row">

                <div class="col-md-12" style="display:flex; flex-direction:column ; justify-content:center ">
                    <div style="width:90%">
                        <span class="contact1-form-title">
                            Tạo thông tin sản phẩm
                        </span>
                        <div class="wrap-input1 validate-input" style="border-radius:5px" style="box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);" style="width:100%">
                            <input class="inputc" value="ID : @productid" readonly>
                            <span class="shadow-input1"></span>
                        </div>
                        /* name */
                        <div class="wrap-input1 validate-input" style="border-radius:5px" style="box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2)" style="width:100%">
                            <input class="inputc" type="text" name="product.Name" placeholder="Tên sản phẩm" required>
                            <span class="warning-message text-danger"></span>
                            <span class="shadow-input1"></span>
                        </div>
                        /* date */
                        <div class="wrap-input1 validate-input" style="border-radius:5px" style="box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2)" style="width:100%" data-validate="Valid email is required: ex@abc.xyz">
                            <input class="inputc" type="date" name="product.UpdateDate" value=@date required>
                            <span class="shadow-input1"></span>
                        </div>
                        /* detail */
                        <div class="wrap-input1 validate-input" style="width:100%" data-validate="Subject is required">
                            <textarea style="box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2)" class="input1" id="summernote" name="product.Detail"></textarea>
                            <span class="shadow-input1"></span>
                        </div>

                        <div class="wrap-input1 validate-input" style="width:100%; box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2)" data-validate="Name is required">
                            <select class="form-select" name="product.BrandId" style="magin-top:100px;margin-top: 100px;" placeholder="Thương hiệu">
                                @foreach (var b in brands)
                                {
                                    <option value=@b.Id> @b.BrandName</option>
                                }
                            </select>
                            <span class="shadow-input1"></span>
                        </div>

                        <div class="wrap-input1 validate-input" style="box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2)" style="width:100% " data-validate="Name is required">
                            <select class="form-select" name="product.CategoryId" style="magin-top:100px" placeholder="Thương hiệu">
                                @foreach (var b in cates)
                                {
                                    <option value=@b.Id> @b.Name</option>
                                }
                            </select>
                            <span class="shadow-input1"></span>
                        </div>

                    </div>
                </div>
                /* Spec */
                <div class="row">
                    <div class="col-md-6">
                        <span class="contact1-form-title">
                            Tạo thông số kỹ thuật
                        </span>

                        <table class="table table-hover table-bordered" style="box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2)">
                            <tr>
                                <td>Kích cỡ màn hình (inches)</td>
                                <td>
                                    <input class="form-control morethanzero2" type="number" min="1" step="0.1" name="spec.ScreenSize" required>
                                    <span class="warning-message text-danger"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>Độ phân giải màn hình (pixels)</td>
                                <td>
                                    <input class="form-control" type="text" name="spec.ScreenResolution" required>
                                    <span class="warning-message text-danger"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>CPU</td>
                                <td>
                                    <input class="form-control" type="text" name="spec.Cpu" required>
                                    <span class="warning-message text-danger"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>Hệ điều hành</td>
                                <td>
                                    <input class="form-control" type="text" name="spec.OperatingSystem" required>
                                    <span class="warning-message text-danger"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>Ram (GB)</td>
                                <td>
                                    <input class="form-control morethanzero" min="1" type="number" name="spec.Ram" required>
                                    <span class="warning-message text-danger"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>Camera chính (MB)</td>
                                <td>
                                    <input class="form-control morethanzero" min="1" type="number" name="spec.MainCamera" required>
                                    <span class="warning-message text-danger"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>Dung lượng pin (mAh)</td>
                                <td>
                                    <input class="form-control morethanzero" min="1" type="number" name="spec.BatteryCapacity" required>
                                    <span class="warning-message text-danger"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>Camera trước (MB)</td>
                                <td>
                                    <input class="form-control morethanzero" min="1" type="number" name="spec.FrontCamera" required>
                                    <span class="warning-message text-danger"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>ID Sản phẩm</td>
                                <td>
                                    <input class="form-control morethanzero" min="1" type="number" value=@productid name="spec.ProductId" readonly>
                                    <span class="warning-message text-danger"></span>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <span class="contact1-form-title">
                            Tải nhiều ảnh
                        </span>
                        <div id="image-upload-container" style="box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2)">
                            <div class="form-group">
                                <label for="product_id" style="color:#3d3d3d; padding:10px 10px 10px 10px;border-radius:5px"> ID Sản phẩm</label>
                                <input type="number" class="form-control" id="product_id" name="img.ProductId" value="@productid" readonly>
                            </div>
                        </div>
                        <div style="color:black" style="box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2)">
                            <div style="color:black">
                                <div class="form-group">
                                    <label style="border-radius:5px ; background-color:#0d6efd; color:aliceblue; padding:10px" for="images">Tải ảnh lên</label>
                                    <input type="file" class="form-control-file" id="images" name="img" multiple required onchange="showUploadedFiles()">
                                </div>
                                <input type="hidden" id="filePathsInput" name="filePaths">
                                <div class="files">
                                    <h4>Các ảnh đã tải lên</h4>
                                    <ul id="file-list"></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <span class="contact1-form-title">
                    Tạo thông số bộ nhớ
                </span>
                <table class="table" style="box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2)">
                    <thead>
                        <tr>
                            <th>Bộ nhớ trong (GB)</th>
                            <th>Giá gốc (VND)</th>
                            <th>Giá bán (VND)</th>
                            <th>Số lượng (Chiếc)</th>
                            <th>ID sản phẩm</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody id="storage-table-body" style="box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2)">
                        <tr>
                            <td>
                                <input type="number" min="1" class="form-control morethanzero" name="Storages[0].Storage_capacity" required>
                                <span class="warning-message text-danger"></span>
                            </td>
                            <td>
                                <input type="number" min="1" step="0.01" class="form-control morethanzero" name="Storages[0].OriginalPrice" required>
                                <span class="warning-message text-danger"></span>
                            </td>
                            <td>
                                <input type="number" min="1" step="0.01" class="form-control morethanzero" name="Storages[0].SalePrice" required>
                                <span class="warning-message text-danger"></span>
                            </td>
                            <td>
                                <input type="number" min="1" class="form-control morethanzero" name="Storages[0].quantity" required>
                                <span class="warning-message text-danger"></span>
                            </td>
                            <td><input type="number" min="1" class="form-control" name="Storages[0].ProductId" value=@productid readonly></td>
                            <td><button type="button" class="btn btn-danger" onclick="removeRow(this)">Xóa</button></td>
                        </tr>
                    </tbody>
                </table>
                <button type="button" class="btn btn-primary" onclick="addRow()">Thêm Hàng</button>
            </div>
            <input type="hidden" id="storageStringInput" name="storageString">
            <br />
            <div class="row" style="display:flex; text-align:center; width:20%; margin-left:40%">
                <button type="submit" class="btn btn-success">Lưu sản phẩm</button>
            </div>

        </form>
    </div>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


<script src="https://colorlib.com/etc/cf/ContactFrom_v1/vendor/jquery/jquery-3.2.1.min.js"></script>

<script src="https://colorlib.com/etc/cf/ContactFrom_v1/vendor/bootstrap/js/popper.js"></script>
<script src="https://colorlib.com/etc/cf/ContactFrom_v1/vendor/bootstrap/js/bootstrap.min.js"></script>

<script src="https://colorlib.com/etc/cf/ContactFrom_v1/vendor/select2/select2.min.js"></script>

<script src="https://colorlib.com/etc/cf/ContactFrom_v1/vendor/tilt/tilt.jquery.min.js"></script>
<script>
    $('.js-tilt').tilt({
        scale: 1.1
    })
</script>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/summernote-bs4.min.js"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-23581568-13');
</script>
<script>
    $('#summernote').summernote({
        placeholder: 'Chi tiết sản phẩm',
        tabsize: 3.5,
        height: 300

    });
</script>
<script src="https://colorlib.com/etc/cf/ContactFrom_v1/js/main.js"></script>
<script defer src="https://static.cloudflareinsights.com/beacon.min.js/vef91dfe02fce4ee0ad053f6de4f175db1715022073587" integrity="sha512-sDIX0kl85v1Cl5tu4WGLZCpH/dV9OHbA4YlKCuCiMmOQIk4buzoYDZSFj+TvC71mOBLh8CDC/REgE0GX0xcbjA==" data-cf-beacon='{"rayId":"8918b444cedd51da","version":"2024.4.1","token":"cd0b4b3a733644fc843ef0b185f98241"}' crossorigin="anonymous"></script>
<script>
    let formIndex = 1;

    function addRow() {
        const tableBody = document.getElementById('storage-table-body');
        const newRow = document.createElement('tr');
        newRow.innerHTML = `
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            <td><input type="number" min="1" class="form-control morethanzero" name="Storages[${formIndex}].Storage_capacity" required> <span class="warning-message text-danger"></span></td>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            <td><input type="number" min="1" step="0.01" class="form-control morethanzero" name="Storages[${formIndex}].OriginalPrice" required> <span class="warning-message text-danger"></span></td>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            <td><input type="number" min="1" step="0.01" class="form-control morethanzero" name="Storages[${formIndex}].SalePrice" required> <span class="warning-message text-danger"></span></td>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            <td><input type="number" min="1" class="form-control morethanzero" name="Storages[${formIndex}].quantity" required> <span class="warning-message text-danger"></span></td>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        <td><input type="number" min="1" class="form-control morethanzero" name="Storages[${formIndex}].ProductId" value="@productid" readonly></td>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    <td><button type="button" class="btn btn-danger" onclick="removeRow(this)">Xóa</button></td>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                `;
        tableBody.appendChild(newRow);
        addEventListeners(newRow);
        formIndex++;
        generateStorageString();
    }

    function removeRow(button) {
        const row = button.parentNode.parentNode;
        row.parentNode.removeChild(row);
        generateStorageString(); // Recalculate storage string after row removal
    }

    function generateStorageString() {
        const tableBody = document.getElementById('storage-table-body');
        const rows = tableBody.getElementsByTagName('tr');
        let storageList = [];

        for (let i = 0; i < rows.length; i++) {
            const row = rows[i];
            const storageCapacity = row.querySelector('input[name^="Storages["][name$="].Storage_capacity"]').value;
            const originalPrice = row.querySelector('input[name^="Storages["][name$="].OriginalPrice"]').value;
            const salePrice = row.querySelector('input[name^="Storages["][name$="].SalePrice"]').value;
            const quantity = row.querySelector('input[name^="Storages["][name$="].quantity"]').value;
            const productId = row.querySelector('input[name^="Storages["][name$="].ProductId"]').value;

            const storageEntry = `${storageCapacity}##${originalPrice}##${salePrice}##${quantity}##${productId}`;
            storageList.push(storageEntry);
        }

        const output = document.getElementById('storageStringInput');
        output.value = storageList.join(';;');
    }

    function addEventListeners(row) {
        const inputs = row.querySelectorAll('input');
        inputs.forEach(input => {
            input.addEventListener('input', generateStorageString);
        });
    }

    document.querySelectorAll('#storage-table-body tr').forEach(row => {
        addEventListeners(row);
    });

    document.querySelector('form').addEventListener('submit', function () {
        generateStorageString();
    });
</script>





<script>
    let filesList = [];

    function showUploadedFiles() {
        const input = document.getElementById('images');
        const fileList = document.getElementById('file-list');
        const output = document.getElementById('filePathsInput');
        fileList.innerHTML = '';
        filesList = Array.from(input.files);

        const paths = filesList.map(file => file.name);
        output.value = paths.join('##');

        filesList.forEach((file, index) => {
            const li = document.createElement('li');
            li.innerHTML = `${file.name} (${formatFileSize(file.size)}) <i class="material-icons md-48" onclick="removeFile(${index})">Xóa</i>`;
            fileList.appendChild(li);
        });
    }

    function formatFileSize(bytes) {
        const sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB'];
        if (bytes === 0) return '0 Byte';
        const i = parseInt(Math.floor(Math.log(bytes) / Math.log(1024)));
        return Math.round(bytes / Math.pow(1024, i), 2) + ' ' + sizes[i];
    }

    function removeFile(index) {
        filesList.splice(index, 1);
        updateFileList();
    }

    function updateFileList() {
        const input = document.getElementById('images');
        const fileList = document.getElementById('file-list');
        const output = document.getElementById('filePathsInput');
        fileList.innerHTML = '';

        const paths = filesList.map(file => file.name);
        output.value = paths.join('##');

        filesList.forEach((file, index) => {
            const li = document.createElement('li');
            li.innerHTML = `${file.name} (${formatFileSize(file.size)}) <i class="material-icons md-48" onclick="removeFile(${index})">Xóa</i>`;
            fileList.appendChild(li);
        });

        // Create a new DataTransfer object and assign the modified files list to the input element
        const dataTransfer = new DataTransfer();
        filesList.forEach(file => dataTransfer.items.add(file));
        input.files = dataTransfer.files;
    }

    $(document).ready(function () {
        $('.js-example-basic-single').select2();
    });
    // Function to validate number inputs
    function validateNumberInput(input) {
        const value = parseFloat(input.value);
        if (isNaN(value) || value < 1 || !Number.isInteger(value)) {
            input.nextElementSibling.textContent = "Giá trị phải là số nguyên lớn hơn hoặc bằng 1.";
        } else {
            input.nextElementSibling.textContent = "";
        }
    }
    function validateNumberInput(input) {
        const value = parseFloat(input.value);
        if (isNaN(value) || value < 1) {
            input.nextElementSibling.textContent = "Giá trị phải lớn hơn hoặc bằng 1.";
        } else {
            input.nextElementSibling.textContent = "";
        }
    }

    // Function to validate text inputs
    function validateTextInput(input) {
        if (input.value.trim() === "") {
            input.nextElementSibling.textContent = "Giá trị không được để trống.";
        } else {
            input.nextElementSibling.textContent = "";
        }
    }

    // Add event listeners to inputs
    document.querySelectorAll('input.morethanzero').forEach(input => {
        input.addEventListener('input', () => validateNumberInput(input));
    });
    document.querySelectorAll('input.morethanzero2').forEach(input => {
        input.addEventListener('input', () => validateNumberInput(input));
    });

    document.querySelectorAll('input[type="text"]').forEach(input => {
        input.addEventListener('input', () => validateTextInput(input));
    });
</script>

